@{
    ViewBag.Title = "敬请期待";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
           background-color:#fff;
        }
    </style>
}

<div style="text-align:center">
    <img src="~/Images/comeinsoon.jpg" style="width:100%" />
</div>