@model WebAppApi.Models.ExtendedApp.PosCreditViewModel
@{
    ViewBag.Title = "poscredit";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}


@section styles{
    <style type="text/css">
        body {
            padding: 0px;
            margin: 0px;
            overflow: hidden;
        }
    </style>
}

@section scripts{
    <script type="text/javascript">


        $(document).ready(function () {

            $('#btn_submit').live('click', function () {

                $.lumos.confirm({
                    title: "确定要提交申请POS贷？", ok: function () {

                        var l_Data = $("#form1").serializeArray();
                        $.lumos.postJson({
                            isShowLoading: true,
                            url: "/ExtendedApp/SubmitPosCredit",
                            data: l_Data,
                            success: function (d) {
                                if (d.result == resultType.success) {
                                    jsi.submitOrderSuccess('提交成功');
                                }
                                else {
                                    $.lumos.tips(d.message);
                                }
                            }
                        });
                    }
                });

            });

        });

        //function sumbit() {
        //    jsi.showToast('提交成功')
        //    jsi.submitOrderSuccess('提交成功')
        //    // alert('okk');
        //}
    </script>
}

<form id="form1">
    <input type="hidden" name="Model.UserId" value="@Model.UserId" />
    <input type="hidden" name="Model.MerchantId" value="@Model.MerchantId" />
    <input type="hidden" name="Model.PosMachineId" value="@Model.PosMachineId" />
    <div style="background-color:red;height:560px">
        <div id="btn_submit" style="top:275px;left:100px; position:absolute;width:150px;height:25px;">&nbsp;</div>
        <img src="~/Images/Resource/581c3a194247d4.png" style="width:100%;height:100%" />
    </div>
</form>