@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "/Sys/BackgroundJob/GetList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            refreshInterval: 1000,
            rowDataCombie: function (p_index, p_row) {
                var l_Strlimt = "";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >编辑</a>")";
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.name + "\"   >" + p_row.name + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.description + "\">" + p_row.description + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.className + "\">" + p_row.className + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.lastRunTime + "\">" + p_row.lastRunTime + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.nextRunTime + "\">" + p_row.nextRunTime + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.cronExpression + "\">" + p_row.cronExpression + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.cronExpressionDescription + "\">" + p_row.cronExpressionDescription + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.statusName + "\">" + p_row.statusName + "</td>";
                l_StrRows += "<td class=\"operation\">";

                var op1 = "";
                if (p_row.status == 1) {
                    op1 = "开启";
                }
                else if (p_row.status == 2) {
                    op1 = "停止";
                }
                if (op1 != "") {
                    l_StrRows += "<a href=\"javascript:void(0)\" operate=\"setstatus\"   class=\"a-btn a-btn-edit\"  >" + op1 + "</a>";
                }

                l_StrRows += l_Strlimt;
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "edit": function (obj) {
                    var url = '/Sys/BackgroundJob/Edit?id=' + obj.id;
                    var title = '修改';
                    art.dialog.open(url, {
                        id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                            this.iframe.contentWindow.edit();
                            return false;
                        }
                    });
                },
                "setstatus": function (obj) {

                    var op = obj.status == 1 ? "开启" : "停止";

                    art.dialog.confirm('确定要' + op + '该任务？', function (e) {

                        $.lumos.postJson({
                            url: "/Sys/BackgroundJob/SetStartOrStop",
                            data: { id: obj.id },
                            success: function (d) {
                                listTable.loadData(0);
                                $.lumos.tips(d.message);
                            }
                        });

                    });
                }
            }
        });



        $("#btn_Add").click(function () {
            var url = '/Sys/BackgroundJob/Add';
            var title = '新建';
            art.dialog.open(url, {
                id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                    this.iframe.contentWindow.add();
                    return false;
                }
            });
        });



    });

    function refresh(type) {
        switch (type) {
            case 1:
                listTable.loadData();
                break;
            case 2:
                listTable.loadData("c");
                break;
        }
    }


</script>
<div class="gbr-row gbr-page">
    <form id="form1" name="form1">
        <div class="search-bar">
            <div class="filter">
                <span class="filter-label">名称：</span>
                <span class="filter-input">
                    <input type="text" class="input-control" name="Name" style="width:120px;" />
                </span>
            </div>
            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
            <div class="filter" style="float:right">
                <input type="button" class="btn btn-add" id="btn_Add" value="新建" />
            </div>
        </div>
        <div class="list">
            <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:5%" class="no">
                            序号
                        </th>
                        <th style="width:10%">
                            名称
                        </th>
                        <th style="width:15%">
                            描述
                        </th>
                        <th style="width:20%">
                            类名
                        </th>
                        <th style="width:10%">
                            最后运行时间
                        </th>
                        <th style="width:10%">
                            下次运行时间
                        </th>
                        <th style="width:10%">
                            Cron表达式
                        </th>
                        <th style="width:10%">
                            Cron表达式描述
                        </th>
                        <th style="width:5%">
                            状态
                        </th>
                        <th style="width:5%" class="operation">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="pull-left">
                                <span class="load-tip"></span>
                            </div>
                            <div class="pull-right pagination">
                                <div class="pagination-info">

                                </div>
                                <div class="pagination-index">

                                </div>
                                <div class="pagination-goto">

                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>

</div>