@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section styles{
    <style>
        #form1 {
            display: -webkit-box;
            display: -moz-box;
            width: 100%;
        }

        .table-container {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            padding: 0 0.5rem;
        }

        .table-sub-container {
            display: -webkit-box;
            display: -moz-box;
            width: 100%;
            padding: 0.5rem 0;
        }

        .productsku-area {
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            padding: 0 0.5rem;
        }

        .f-tb1-detail .t {
            width: 120px;
        }

        .f-tb1-detail .c {
            width: 280px;
        }

        h4, h5 {
            display: inline-block;
        }
    </style>

}

@section scripts{
    <script type="text/javascript">

        var orderId = $.lumos.getUrlParamValue("orderId");

        $(document).ready(function () {
            initData();
        });

        function initData() {
            getDetails();
        }

        function getDetails() {
            $.lumos.getJson({
                url: "/Order/GetDetails",
                urlParams: { orderId: orderId },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        $('#gbr_page').html($("#tmpl_block").tmpl(d.data));
                    }
                }
            });
        }
    </script>
}

<script id="tmpl_block" type="text/x-jquery-tmpl">

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1-detail">
        <tr>
            <td class="t">订单编号：</td>
            <td class="c">
                <span>${sn}</span>
            </td>
            <td class="t">店铺名称：</td>
            <td class="c">
                <span>${storeName}</span>
            </td>
        </tr>
        <tr>
            <td class="t">下单用户：</td>
            <td class="c">
                <span><a userid="" href="javascript:void(0)" class="open-user-details">${clientName}</a></span>
            </td>
            <td class="t">下单方式：</td>
            <td class="c">
                <span>${sourceName}</span>
            </td>
        </tr>
        <tr>
            <td class="t">支付金额：</td>
            <td class="c">
                <span>${chargeAmount}</span>
            </td>
            <td class="t">优惠金额：</td>
            <td class="c">
                <span>${discountAmount}</span>
            </td>
        </tr>
        <tr>
            <td class="t">原金额：</td>
            <td class="c">
                <span>${originalAmount}</span>
            </td>
            <td class="t"></td>
            <td class="c"></td>
        </tr>
        <tr>
            <td class="t">下单时间：</td>
            <td class="c">
                <span>${submitTime}</span>
            </td>
            <td class="t">状态：</td>
            <td class="c">${statusName}</td>
        </tr>
    </table>

    {{each(j,item) blocks}}

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>${item.name}</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:5%" class="no">
                        序号
                    </th>
                    <th style="width:10%">
                        商品名称
                    </th>
                    <th style="width:15%">
                        数量
                    </th>
                    <th style="width:15%">
                       原金额
                    </th>
                    <th style="width:10%">
                        优惠金额
                    </th>
                    <th style="width:10%">
                        支付金额
                    </th>
                    <th style="width:10%">
                        订单状态
                    </th>
                </tr>
            </thead>
            <tbody>

                {{each(k,item2) item.skus}}
                <tr>
                    <td class="no">${k+1}</td>
                    <td class="overflow" title="">${item2.productSkuName}</td>
                    <td class="overflow" title="">${item2.quantity}</td>
                    <td class="overflow" title="">${item2.originalAmount}</td>
                    <td class="overflow" title="">${item2.discountAmount}</td>
                    <td class="overflow" title="">${item2.chargeAmount}</td>
                    <td class="overflow" title="">${item2.statuName}</td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

    {{/each}}
</script>

<div class="gbr-row gbr-dialog" id="gbr_page">

</div>