@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">


        $(this).ready(function () {
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_DeviceId").formValidator().inputValidator({ min: 1, max: 100, onError: "设备ID不能为空，且不超过100个字符" });
            $("#txt_MacAddress").formValidator().inputValidator({ min: 1, max: 100, onError: "Mac地址不能为空，且不超过100个字符" });
            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 100, onError: "名称不能为空，且不超过100个字符" });
        });

        function add() {
            var isValid = $.formValidator.pageIsValid();
            if (isValid) {
                art.dialog.confirm('确定要登记？', function () {

                    var deviceId = $("#txt_DeviceId").val();
                    var macAddress = $("#txt_MacAddress").val();
                    var name = $("#txt_Name").val();

                    $.lumos.postJson({
                        url: "/Biz/Machine/Add",
                        data: { deviceId: deviceId, macAddress: macAddress, name: name },
                        isUseHandling: true,
                        success: function (d) {
                            if (d.result == $.lumos.resultType.success) {
                                $.lumos.parentDialog.refresh(1);
                                $.lumos.tips(d.message, true);
                            }
                            else {
                                $.lumos.tips(d.message);
                            }

                        }
                    });
                });
            }
            return false;
        }


        //-->
    </script>
}

<div class="gbr-row gbr-dialog">

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1" style="width:100%">
        <tr>
            <td class="f-tb-t"><span class="required-symbol">*</span>设备ID：</td>
            <td class="f-tb-c"><input class="input-control" type="text" id="txt_DeviceId" style="width: 150px;" autocomplete="off" /></td>
            <td class="f-tb-t"><span class="required-symbol">*</span>Mac地址：</td>
            <td class="f-tb-c"><input class="input-control" type="text" id="txt_MacAddress" style="width: 150px;" autocomplete="off" /></td>
        </tr>
        <tr>
            <td class="f-tb-t"><span class="required-symbol">*</span>名称：</td>
            <td class="f-tb-c"><input class="input-control" type="text" id="txt_Name" style="width: 150px;" autocomplete="off" /></td>
            <td class="f-tb-t"></td>
            <td class="f-tb-c"></td>
        </tr>
    </table>

</div>

