@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "/Biz/Machine/GetList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {

                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.deviceId + "\"   >" + p_row.deviceId + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.name + "\"   >" + p_row.name + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.merchantName + "\"   >" + p_row.merchantName + "</td>";
                l_StrRows += "<td class=\"overflow\">" + (p_row.isBind == false ? "未绑定" : "已绑定") + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.createTime + "\">" + p_row.createTime + "</td>";
                l_StrRows += "<td class=\"operation\">";

                l_StrRows += "<a href=\"javascript:void(0)\" operate=\"edit\"  class=\"a-btn a-btn-edit\"  >" + (p_row.isUse == true ? "解绑" : "绑定") + "</a>";

                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "edit": function (obj) {
                    var okVal = obj.isUse == true ? "解绑" : "绑定";
                    var url = '/Biz/Machine/Bind?machineId=' + obj.id;
                    art.dialog.open(url, {
                        id: "openDialog", title: okVal, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: okVal, ok: function () {
                            this.iframe.contentWindow.bind();
                            return false;
                        }
                    });
                }
            }
        });

    });


    function refresh(type) {
        switch (type) {
            case 1:
                listTable.loadData();
                break;
            case 2:
                listTable.loadData('c');
                break;
        }
    }


</script>

<form id="form1" name="form1">

    <div class="search-bar">
        <div class="filter">
            <span class="filter-label">设备ID：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="DeviceId" style="width:120px;" />
            </span>
        </div>
        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
        <div class="filter" style="float:right">

        </div>
    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:5%" class="no">
                        序号
                    </th>
                    <th style="width:20%">
                        设备ID
                    </th>
                    <th style="width:20%">
                        名称
                    </th>
                    <th style="width:20%">
                        商户名称
                    </th>
                    <th style="width:10%">
                        状态
                    </th>
                    <th style="width:15%">
                        登记时间
                    </th>
                    <th style="width:10%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="pull-left">
                            <span class="load-tip"></span>
                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>



