@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{

    <script type="text/javascript">
        var listTable;
        $(document).ready(function () {

            $('#txt_SalePrice').decimalInput(2);

            listTable = $("#list_table").loadDataTable({
                url: "/ProductSku/GetListBySalePrice",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";

                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >修改</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.storeName + "\">" + p_row.storeName + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\"><div> <img src=\"" + p_row.productSkuImgUrl + "\" style=\"width:50px;height:50px\"><div></td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuName + "\">" + p_row.productSkuName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuSalePrice + "\">" + p_row.productSkuSalePrice + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "edit": function (obj) {

                        var form2 = document.getElementById('form2');

                        $('#lbl_StoreName').text(obj.storeName)
                        $('#lbl_ProductSkuName').text(obj.productSkuName)
                        $('#lbl_ProductSkuSalePrice').text(obj.productSkuSalePrice);
                        $('#txt_SalePrice').val(obj.productSkuSalePrice);
                        var dialog = art.dialog({
                            title: '修改',
                            content: form2,
                            width: '500px',
                            id: 'EF893L',
                            lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {

                                art.dialog.confirm('确定要保存？', function () {
                                    var salePrice = $('#txt_SalePrice').val();
                                    $.lumos.postJson({
                                        isUseHandling: true,
                                        url: "/ProductSku/EditBySalePrice",
                                        data: { storeId: obj.storeId, productSkuId: obj.productSkuId, salePrice: salePrice },
                                        success: function (d) {
                                            $.lumos.tips(d.message);
                                            if (d.result == $.lumos.resultType.success) {
                                                listTable.loadData("c");
                                                dialog.close();
                                            }
                                        }
                                    });
                                });

                                return false;
                            }
                        });


                    }
                }
            });
        });



    </script>
}

<div class="gbr-row gbr-dialog">
    <form id="form1" name="form1" method="post">
        <input type="hidden" name="Id" value="@Request.QueryString["productSkuId"]" />
        <div class="list">
            <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:5%" class="no">
                            序号
                        </th>
                        <th style="width:20%">
                            便利店
                        </th>
                        <th style="width:10%">

                        </th>
                        <th style="width:40%">
                            商品
                        </th>
                        <th style="width:15%">
                            销售价
                        </th>
                        <th style="width:10%" class="operation">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pull-left">
                                <span class="load-tip"></span>
                            </div>
                            <div class="pull-right pagination">
                                <div class="pagination-info">

                                </div>
                                <div class="pagination-index">

                                </div>
                                <div class="pagination-goto">

                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </form>

    <form id="form2" name="form2" method="post" style="display:none;">
        <table class="f-tb" cellpadding="0" cellspacing="1">
            <tr>
                <td class="f-tb-t" style="width:80px">
                    便利店：
                </td>
                <td class="f-tb-c">
                    <span id="lbl_StoreName"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    商品：
                </td>
                <td class="f-tb-c">
                    <span id="lbl_ProductSkuName"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    原价格：
                </td>
                <td class="f-tb-c">
                    <span id="lbl_ProductSkuSalePrice"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    新价格：
                </td>
                <td class="f-tb-c">
                    <input id="txt_SalePrice" type="text" class="input-control" value="" style="width:50px;" autocomplete="off" />
                </td>
            </tr>
        </table>
    </form>
</div>