@model WebMerch.Models.ProductSku.EditViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

@section scripts{


    <script type="text/javascript">
        var listTable;
        $(document).ready(function () {


            listTable = $("#list_table").loadDataTable({
                url: "/ProductSku/GetListBySalePrice",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.storeName + "\">" + p_row.storeName + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\"><div> <img src=\"" + p_row.productSkuImgUrl + "\" style=\"width:50px;height:50px\"><div></td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuName + "\">" + p_row.productSkuName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuSalesPrice + "\">" + p_row.productSkuSalesPrice + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "delete": function (obj) {

                        $.lumos.postJson({
                            url: "/Biz/ProductSku/Delete",
                            data: { id: obj[0].id },
                            success: function (d) {
                                listTable.loadData(0);
                                $.lumos.tips(d.message);
                            }
                        });

                    },
                    "edit": function (obj) {
                        var url = '/ProductSku/Edit?id=' + obj.id;
                        var title = '商品信息修改';
                        var dialog = art.dialog.open(url, {
                            id: "openDialog", title: title, width: '800px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                                this.iframe.contentWindow.submit(function (d) {
                                    if (d.result == $.lumos.resultType.success) {
                                        //dialog.close();
                                        listTable.loadData();
                                    }
                                    $.lumos.tips(d.message);
                                });
                                return false;
                            }
                        });
                    },
                    "editBySalePrice": function (obj) {
                        var url = '/ProductSku/EditBySalePrice?id=' + obj.id;
                        var title = '商品价格修改';
                        var dialog = art.dialog.open(url, {
                            id: "openDialog", title: title, width: '800px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true
                        });
                    }
                }
            });


            //var tr_body = $('#list_table tbody')
            //var l_Data = $("#form1").serializeArray();
            //$.lumos.postJson({
            //    isUseHandling: true,
            //    url: "/ProductSku/GetListBySalePrice",
            //    data: l_Data,
            //    success: function (d) {

            //        if (d.result == $.lumos.resultType.success) {

            //            if (d.data.length == 0) {
            //                $(tr_body).append("<tr><td colspan=\"6\" class=\"emptytip\">暂没有便利店销售</td></tr>");
            //            }
            //            else {

                            
            //                $.each(d.data, function (p_index, p_row) {
            //                    var l_StrRows = "";
            //                    l_StrRows += "<tr>";
            //                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
            //                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.storeName + "\">" + p_row.storeName + "</td>";
            //                    l_StrRows += "<td class=\"overflow tipitem\"><div> <img src=\"" + p_row.productSkuImgUrl + "\" style=\"width:50px;height:50px\"><div></td>";
            //                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuName + "\">" + p_row.productSkuName + "</td>";
            //                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.productSkuSalesPrice + "\">" + p_row.productSkuSalesPrice + "</td>";
            //                    l_StrRows += "<td class=\"operation\">";
            //                    l_StrRows += "</td>";
            //                    l_StrRows += "</tr>";
            //                    $(tr_body).append(l_StrRows);
            //                });


            //            }
            //        }
            //        else {
            //            $.lumos.tips(d.message);
            //        }

            //    }
            //});

        });

        function submit(fun) {


            var stem = CKEDITOR.instances.Model_ProductSku_DetailsDes.getData();

            var form = $("#form1");
            var isValid = $.formValidator.pageIsValid();
            if (isValid) {

                $("#Model_ProductSku_DetailsDes").val(stem);

                art.dialog.confirm(
               '确定要保存？',
                function () {
                    var l_Data = $(form).serializeArray();
                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "/ProductSku/Edit",
                        data: l_Data,
                        success: function (d) {
                            fun(d);
                        }
                    });
                });
            }

            return false;
        }

    </script>
}

<div class="gbr-row">
    <form id="form1" name="form1" method="post">
        <input type="hidden" name="Id" value="@Request.QueryString["id"]" />
        <div class="list">
            <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:5%" class="no">
                            序号
                        </th>
                        <th style="width:20%">
                            便利店名称
                        </th>
                        <th style="width:20%">

                        </th>
                        <th style="width:20%">
                            商品名称
                        </th>
                        <th style="width:20%">
                            销售价
                        </th>
                        <th style="width:15%" class="operation">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pull-left">
                                <span class="load-tip"></span>
                            </div>
                            <div class="pull-right pagination">
                                <div class="pagination-info">

                                </div>
                                <div class="pagination-index">

                                </div>
                                <div class="pagination-goto">

                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </form>
</div>