@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style type="text/css">
        #list_GoodsPic tr > td {
            width: 100px;
            padding: 10px;
        }

        .width-325px {
            width: 325px !important;
        }
    </style>
}

@section scripts{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/ckeditor/config.js"></script>
    <script type="text/javascript">

        var productSkuId = $.lumos.getUrlParamValue("productSkuId");

        $(document).ready(function () {

            CKEDITOR.replace('txt_DetailsDes', { height: '180px' });

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "商品名称不能为空,且不超过50个字符" });
            $("#sel_Kinds").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 2, onError: "请选择所属模块,最多选择2个" });
            $("#sel_Subjects").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 3, onError: "请选择所属栏目,最多选择3个" });
            $("#sel_RecipientModes").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 2, onError: "请选择收货模式，至少选择一种" });
            $("#txt_ShowPrice").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "市场价不能为空,且不超过50个字符" });
            $("#txt_ShowPrice").decimalInput(2);
            $("#txt_SalePrice").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "售价不能为空,且不超过50个字符" });
            $("#txt_SalePrice").decimalInput(2);
            $("#dispalyImgs_ImgUrl_0").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 500, onError: "请上传商品封面图片" });
            $("#txt_BriefInfo").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 100, onError: "商品简短描述不能为空,且不超过100个字符" });

            $('#btn_editprice').click(function () {

                var url = '/ProductSku/EditBySalePrice?productSkuId=' + productSkuId;
                var title = '修改';

                var dialog = art.dialog.open(url, {
                    id: "openDialogssss", title: title, width: '600px', height: '400px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存'
                });

                return false;
            });

            initData();
        });

        function initData() {
            getDetails();
        }

        function edit(fun) {


            var isValid = $.formValidator.pageIsValid();
            if (isValid) {
                art.dialog.confirm(
               '确定要保存？',
                function () {

                    var name = $('#txt_Name').val();
                    var kindIds = $('#sel_Kinds').val2Arr();
                    var subjectIds = $('#sel_Subjects').val2Arr();
                    var recipientModeIds = $('#sel_RecipientModes').val2Arr();
                    var showPrice = $('#txt_ShowPrice').val();
                    var salePrice = $('#txt_SalePrice').val();
                    var briefInfo = $('#txt_BriefInfo').val();
                    var detailsDes = CKEDITOR.instances.txt_DetailsDes.getData();
                    var dispalyImgUrls = $('#list_GoodsPic').val2ImgArr();

                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "/ProductSku/Edit",
                        data: {
                            productSkuId: productSkuId,
                            name: name,
                            dispalyImgUrls: dispalyImgUrls,
                            kindIds: kindIds,
                            subjectIds: subjectIds,
                            recipientModeIds: recipientModeIds,
                            showPrice: showPrice,
                            salePrice: salePrice,
                            briefInfo: briefInfo,
                            detailsDes: detailsDes
                        },
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                $.lumos.parentDialog.refresh(1);
                            }
                        }
                    });
                });
            }

            return false;
        }

        function getDetails() {
            $.lumos.getJson({
                url: "/ProductSku/GetDetails",
                urlParams: { productSkuId: productSkuId },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $('#txt_Name').val(data.name);
                        $('#sel_Kinds').val2Arr(data.kindIds);
                        $('#sel_Subjects').val2Arr(data.subjectIds);
                        $('#sel_RecipientModes').val2Arr(data.recipientModeIds);
                        $('#txt_ShowPrice').val(data.showPrice);
                        $('#txt_SalePrice').val(data.salePrice);
                        $('#txt_BriefInfo').val(data.briefInfo);
                        $("#dispalyImgs_ImgUrl_0").val(data.dispalyImgUrls[0].imgUrl);
                        $("#img_dispalyImgs_ImgUrl_0").attr("src", data.dispalyImgUrls[0].imgUrl);
                        CKEDITOR.instances['txt_DetailsDes'].setData(data.detailsDes);
                    }
                }
            });
        }
    </script>
}

<div class="gbr-row gbr-dialog">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t" style="width:80px">
                商品名称<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c">
                <input id="txt_Name" type="text" class="input-control" value="" style="width:300px;" autocomplete="off" />
            </td>

            <td class="f-tb-c" rowspan="4">
                @*<div class="cked-title">
                    <label class="frm_label" for="">
                       span class="tip" style="float:left;">建议尺寸：320 * 320</span>
                                        </label>
                                    </div>*@

                <table class="f-tb1-detail" id="list_GoodsPic" style="text-align:center;width:auto;margin:auto;">
                    <tr style="vertical-align:top">
                        <td>
                            <div>
                                <span class="uploadimgbox" upload="true">
                                    <span class="uploadimg" inputname="dispalyImgs_ImgUrl_0" path="product">
                                        <img id="img_dispalyImgs_ImgUrl_0" src="~/Static/default1.jpg" />
                                        <span class="uploadimg-click">上传</span>
                                        <input id="dispalyImgs_ImgUrl_0" class="imgUrl" value="" name="dispalyImgs_ImgUrl_0" type="hidden" />
                                        <input id="dispalyImgs_IsMain_0" class="isMain" value="true" name="dispalyImgs_IsMain_0" type="hidden" />
                                    </span>
                                    <span class="uploadimg-view" style="">预览</span>
                                </span>
                            </div>
                            <div>
                                <span>封面</span><span class="required-symbol">*</span>
                            </div>
                        </td>
                        @*<td>
                                <div>
                                    <span class="uploadimgbox" upload="true">
                                        <span class="uploadimg" inputname="Model.DispalyImgs[1].ImgUrl" path="product">
                                            <img src="" />
                                            <span class="uploadimg-click" style="">上传</span>
                                            <input id="Model_DispalyImgs_ImgUrl_1" value="" name="Model.DispalyImgs[1].ImgUrl" type="hidden" />
                                            <input id="Model_DispalyImgs_IsMain_1" value="false" name="Model.DispalyImgs[1].IsMain" type="hidden" />
                                        </span>
                                        <span class="uploadimg-view" style="">预览</span>
                                    </span>
                                </div>
                                <div>
                                    <span>图片1</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="uploadimgbox" upload="true">
                                        <span class="uploadimg" inputname="Model.DispalyImgs[2].ImgUrl" path="product">
                                            <img src="" />
                                            <span class="uploadimg-click" style="">上传</span>
                                            <input id="Model_DispalyImgs_ImgUrl_2" value="" name="Model.DispalyImgs[2].ImgUrl" type="hidden" />
                                            <input id="Model_DispalyImgs_IsMain_2" value="false" name="Model.DispalyImgs[2].IsMain" type="hidden" />
                                        </span>
                                        <span class="uploadimg-view" style="">预览</span>
                                    </span>
                                </div>
                                <div>
                                    <span>图片2</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="uploadimgbox" upload="true">
                                        <span class="uploadimg" inputname="Model.DispalyImgs[3].ImgUrl" path="product">
                                            <img src="" />
                                            <span class="uploadimg-click" style="">上传</span>
                                            <input id="Model_DispalyImgs_ImgUrl_3" value="" name="Model.DispalyImgs[3].ImgUrl" type="hidden" />
                                            <input id="Model_DispalyImgs_IsMain_3" value="false" name="Model.DispalyImgs[3].IsMain" type="hidden" />
                                        </span>
                                        <span class="uploadimg-view" style="">预览</span>
                                    </span>
                                </div>
                                <div>
                                    <span>图片3</span>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <span class="uploadimgbox" upload="true">
                                        <span class="uploadimg" inputname="Model.DispalyImgs[4].ImgUrl" path="product">
                                            <img src="" />
                                            <span class="uploadimg-click" style="">上传</span>
                                            <input id="Model_DispalyImgs_ImgUrl_4" value="" name="Model.DispalyImgs[4].ImgUrl" type="hidden" />
                                            <input id="Model_DispalyImgs_IsMain_4" value="false" name="Model.DispalyImgs[4].IsMain" type="hidden" />
                                        </span>
                                        <span class="uploadimg-view" style="">预览</span>
                                    </span>
                                </div>
                                <div>
                                    <span>图片4</span>
                                </div>
                            </td>*@
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                所属模块<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c">
                @Html.initProductKind("sel.Kinds")
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                所属栏目<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c">
                @Html.initProductSubject("sel.Subjects")
            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:50px">收货模式<span class="required-symbol">*</span>：</td>
            <td class="f-tb-c">
                @Html.initRecipientMode("sel.RecipientModes")
            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:50px">
                展示价<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c" colspan="2">
                <input id="txt_ShowPrice" type="text" class="input-control" value="" style="width:80px;" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:50px">
                销售价<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c" colspan="2">
                <div>
                    <div>
                        <input id="txt_SalePrice" type="text" class="input-control" value="" style="width:80px;" autocomplete="off" />
                    </div>
                    <div class="help-tips">提示：此销售价作为初始数据，如需更正请<a href="javascript:void(0)" id="btn_editprice">点击这里修改</a></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:50px">
                简短描述<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c" colspan="2">
                <input id="txt_BriefInfo" ype="text" class="input-control" value="" style="width:300px;" autocomplete="off" />
            </td>
        </tr>
        <tr>
            <td class="f-tb-t" style="width:50px">
                商品详情：
            </td>
            <td class="f-tb-c" colspan="2">
                <textarea id="txt_DetailsDes" class="ckeditor"></textarea>
            </td>
        </tr>
    </table>

</div>