@{
    ViewBag.Title = "支付信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script src="~/Scripts//jquery.knob.min.js"></script>
    <script src="~/Scripts/jquery.ba-throttle-debounce.min.js"></script>
    <script src="~/Scripts/jquery.redcountdown.js?@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
    <script type="text/javascript">
        var id = "@Request.QueryString["id"]";
        var type = "@Request.QueryString["type"]";
        $(document).ready(function () {

            $('#rC_PB').redCountdown({ preset: "flat-colors-fat", end: $.now() + 120, labels: false });

            var myInterval = setInterval(function () {
                $.lumos.getJson({
                    url: "/Operate/GetResult?id=" + id + "&type=" + type,
                    isShowLoading: false,
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            if (d.data.isComplete) {
                                $('#operate_check').hide();
                                $('#operate_result').html($("#operate_result_tmpl").tmpl(d.data));
                                clearInterval(myInterval);
                            }
                        }
                    }
                });
            }, 1000);
        });
    </script>
}


<script id="operate_result_tmpl" type="text/x-jquery-tmpl">
        <div class="it-result">
            <div class="imgbox">
                <img class="img" src="/Content/default/images/operate_result_ic_${result}.png" />
            </div>
        </div>
        <div class="it-message">
            <span class="txt">${message}</span>
        </div>
        <div class="it-btns">
            {{each(j,btn) buttons}}
            <div class="btnbox">
                <a href="${btn.url}" class="btn" style="color:${btn.color}; border:1px solid ${btn.color} ;">${btn.name}</a>
            </div>
            {{/each}}
        </div>
        <div class="it-remarks">
            <p class="txt">${remarks}</p>
        </div>
        <div class="its-a">
            {{each(j,field) fields}}

            <div class="it">

                <div class="it-m">
                    <div class="it-ml w100">
                        <text class='txt'>${field.name}</text>
                    </div>
                    <div class="it-mr flex1">
                        <text class='txt'>${field.value}</text>
                    </div>
                </div>
            </div>

            {{/each}}
        </div>
</script>

<div id="block_area">

    <div id="operate_check" class="operate-check">
        <div class="it-countdown" id="rC_PB" style="text-align:center;"></div>
        <div class="it-message">
            <span>正在查询订单信息，请耐心等候</span>
        </div>
    </div>
    <div id="operate_result" class="operate-result">


    </div>
</div>
