@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var storeId = $.lumos.getUrlParamValue("storeId");
        var list_machine;
        $(document).ready(function () {

            $('input[name=StoreId]').val(storeId);

            $.formValidator.initConfig({ formID: "form_store", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "名称不能为空,且不超过50个字符" });
            $("#txt_Address").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 100, onError: "地址不能为空,且不超过100个字符" });


            list_machine = $("#list_machine").loadDataTable({
                url: "/Store/GetMachineListByBind",
                pageIndex: 0,
                searchParams: $("#form_machine").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form_machine",
                isShowLoading: false,
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"bindoff\\\"  class=\\\"a-btn\\\" >解绑</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.deviceId + "\"   >" + p_row.deviceId + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.name + "\">" + p_row.name + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate:
                    {
                        "bindoff": function (obj) {

                            alert(storeId)
                            alert(obj.id)
                            art.dialog.confirm("确定要解绑,数据会被清除，慎重操作？", function () {

                                $.lumos.postJson({
                                    isUseHandling: true,
                                    url: "/Store/BindOffMachine",
                                    data: { storeId: storeId, machineId: obj.id },
                                    success: function (d) {
                                        list_machine.loadData(0);
                                        $.lumos.tips(d.message);
                                    }
                                });
                            });


                        }
                    }

            });

            $("#btn_add_machine").click(function () {

                var url = '/Store/MachineListByBindable?storeId=' + storeId;
                var title = '选择绑定';
                art.dialog.open(url, {
                    id: "openDialog333", title: title, width: '600px', height: '400px', lock: true, drag: false, cancelVal: '关闭', cancel: true
                });

            });

            initData();
        });

        function initData() {
            getDetails();
        }

        function edit() {

            var isValid = $.formValidator.pageIsValid();
            if (isValid) {

                art.dialog.confirm(
               '确定要保存基本信息？',
                function () {

                    var name = $("#txt_Name").val();
                    var address = $("#txt_Address").val();
                    var status = $("input[name=rd_Status]:checked").val();
                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "/Store/Edit",
                        data: { storeId: storeId, name: name, address: address, status: status },
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                $.lumos.parentDialog.refresh(2);
                            }
                        }
                    });
                });
            }

            return false;
        }

        function getDetails() {

            $.lumos.getJson({
                url: "/Store/GetDetails",
                urlParams: { storeId: storeId },
                isUseHandling: true,
                success: function (d) {

                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $('#txt_Name').val(data.name);
                        $('#txt_Address').val(data.address);
                        $("input[name=rd_Status][value=" + data.status + "]").attr("checked", true);
                    }
                }
            });
        }


        function refresh(type) {
            switch (type) {
                case 1:
                    list_machine.loadData(0)
                    break;
            }
        }
    </script>
}

<div class="gbr-row gbr-dialog">
    <div class="tab" id="tab1">
        <div class="tab-item">
            <ul>
                <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                <li class="item"><a class="a-btn-info" href="javascript:void(0)">机器管理</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="subcontent">
                <form id="form_store" name="form_store">

                    <table class="f-tb" cellpadding="0" cellspacing="1">
                        <tr>
                            <td class="f-tb-t">名称：</td>
                            <td class="f-tb-c">
                                <span>
                                    <input id="txt_Name" type="text" class="input-control" value="" style="width:200px;" autocomplete="off" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">地址：</td>
                            <td class="f-tb-c">
                                <span>
                                    <input id="txt_Address" type="text" class="input-control" value="" autocomplete="off" style="width:300px;" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">状态：</td>
                            <td class="f-tb-c">
                                <span>
                                    @(Html.initEnumeration<Lumos.Entity.Enumeration.StoreStatus>(Lumos.Entity.Enumeration.InputType.Radio, "rd_Status", new { @class = "select-control", defaulttext = "请选择", hidevalue = new Lumos.Entity.Enumeration.StoreStatus[] { Lumos.Entity.Enumeration.StoreStatus.Unknow } }))
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t"></td>
                            <td class="f-tb-c">
                                <input type="button" value="保存" class="btn btn-sure" onclick="return edit();" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="subcontent">

                <form id="form_machine" name="form_machine">
                    <input id="Id" name="StoreId" type="hidden" value="" />
                    <div class="search-bar">
                        <div class="filter">
                            <span class="filter-label">名称：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" name="Name" style="width:120px;" />
                            </span>
                        </div>

                        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>

                        <div class="filter" style="float:right"><input type="button" class="btn btn-add" id="btn_add_machine" value="选择绑定" /> </div>
                    </div>
                    <div class="list">
                        <table id="list_machine" class="list-tb" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width:10%" class="no">
                                        序号
                                    </th>
                                    <th style="width:40%">
                                        设备ID
                                    </th>
                                    <th style="width:40%">
                                        名称
                                    </th>
                                    <th style="width:10%" class="operation">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <div class="pull-left">
                                            <span class="load-tip"></span>
                                        </div>
                                        <div class="pull-right pagination">
                                            <div class="pagination-info">

                                            </div>
                                            <div class="pagination-index">

                                            </div>
                                            <div class="pagination-goto">

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>