@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var num = 0;
        var maxMum = 1;

        var mainTree_Id = "maintree";
        var mainTree_Rmenus;
        var mainTab;
        var belongSite = $.lumos.getUrlParamValue("belongSite");
        $(this).ready(function () {

            mainTab = $("#tab_Main").tab({
                treeId: mainTree_Id,
                click: function (index, key) {
                    switch (index) {
                        case 0:
                            getMainTreeSelNodeDetails();
                            break;
                        case 1:
                            getMainTreeSelNodeDetails();
                            break;
                    }
                    return true;
                }
            });

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 20, onError: "名称须填，且不能超过20个字符" });
            $("#txt_Description").formValidator().inputValidator({ min: 0, max: 500, onError: "备注不能超过500个字符" });

            $("#maintree_add_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var url = '/Sys/Role/Add?belongSite=' + belongSite + '&pId=' + selNode.id + '&pName=' + escape(selNode.name)
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '350px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });

            });

            $("#maintree_delete_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                art.dialog.confirm(
                    "确定删除[" + selNode.name + "]节点及其子节点吗？",
                         function () {
                             var id = selNode.id;
                             $.lumos.postJson({
                                 url: "/Sys/Role/Delete",
                                 data: { id: id },
                                 success: function (d) {
                                     $.lumos.tips(d.message);
                                     if (d.result == $.lumos.resultType.success) {
                                         $("#txt_Name").val("");
                                         $("#txt_Description").val("");
                                         mainTreeLoadData();
                                     }
                                 }
                             });
                             return true;
                         });
                return false;
            });

            $("#maintree_eidt_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var isValid = $.formValidator.pageIsValid();
                if (!isValid)
                    return false;

                art.dialog.confirm('确定要保存？', function () {

                    var id = selNode.id;
                    var name = $('#txt_Name').val();
                    var description = $("#txt_Description").val();
                    $.lumos.postJson({
                        url: "/Sys/Role/Edit",
                        isUseHandling: true,
                        data: { id: id, name: name, description: description },
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                mainTreeLoadData();
                            }
                        }
                    });

                });

                return false;

            });

            $("#maintree_save_menus").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                art.dialog.confirm('确定要保存？', function () {

                    var id = selNode.id;

                    var nodes = mainTree_Rmenus.getCheckedNodes(true);

                    var menuIds = [];

                    for (var key in nodes) {
                        menuIds.push(nodes[key].id);
                    }

                    $.lumos.postJson({
                        url: "/Sys/Role/SaveMenu",
                        isUseHandling: true,
                        data: { id: id, menuIds: menuIds },
                        success: function (d) {
                            $.lumos.tips(d.message);
                        }
                    });
                });
                return false;
            });

            mainTreeLoadData();
            menuTreeLoadData();
        });


        function mainTreeLoadData() {
            $.lumos.getJson({
                url: "/Sys/Role/GetAll",
                urlParams: { belongSite: belongSite },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $.fn.zTree.init($("#" + mainTree_Id), {
                            edit: {
                                enable: true,
                                showRemoveBtn: false,
                                showRenameBtn: false,
                                drag: {
                                    prev: true,
                                    next: false,
                                    inner: false
                                }
                            },
                            view: {
                                showLine: true,
                                selectedMulti: false
                            },
                            data: {
                                simpleData: { enable: true }
                            },
                            callback: {
                                onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {
                                    mainTab.refresh(treeNode.id);
                                },
                                beforeDrag: function (treeId, treeNodes) {
                                    for (var i = 0, l = treeNodes.length; i < l; i++) {
                                        dragId = treeNodes[i].pId;
                                        if (treeNodes[i].drag === false) {
                                            return false;
                                        }
                                    }

                                    return true;
                                },
                                beforeDrop: function (treeId, treeNodes, targetNode, moveType, isCopy) {
                                    if (treeNodes[0].level == 0) {
                                        return false;
                                    }
                                    if (targetNode.pId == dragId) {
                                        return true;
                                    } else {
                                        $.lumos.tips('只能进行同级排序！')
                                        return false;
                                    }
                                },
                                onDrag: function () {
                                    //console.log("拖拽中");
                                    return true;
                                },
                                onDrop: function (event, treeId, treeNodes, targetNode, moveType, isCopy) {

                                    if (treeNodes[0].pId == dragId && targetNode.pId == dragId) {
                                        var updateNode = getPeerNodes(targetNode);
                                        var dics = [];
                                        for (var i = 0; i < updateNode.length; i++) {
                                            dics.push({ id: updateNode[i].id, priority: i + 1 });
                                        }

                                        $.lumos.postJson({
                                            url: "/Sys/Role/EditSort",
                                            isUseHandling: false,
                                            data: { dics: dics },
                                            success: function (d) {
                                                $.lumos.parentDialog.refresh(1);
                                            }
                                        });

                                    } else {
                                        return false;
                                    }
                                    return true;
                                }
                            }
                        }, data);
                    }
                }
            });
        }

        function getChildNodeGrade(treeNode) {
            var p = treeNode.getParentNode();
            if (p != null) {
                num += 1;
                getChildNodeGrade(p);
            }
        }

        function getMainTreeSelNodeDetails() {

            var selNode = mainTab.treeGetSelectedNode();


            var parentName = "/";
            if (selNode.getParentNode() != null) {
                parentName = selNode.getParentNode().name;
            }

            /*最大支持几级菜单由maxMum决定 可修改这个值*/
            num = 0;
            getChildNodeGrade(selNode);
            if (num == 0) {
                $('#maintree_delete_node').attr("disabled", "disabled");
                $('#maintree_add_node').removeAttr("disabled");
            }
            else if (num >= maxMum) {
                $('#maintree_add_node').attr("disabled", "disabled");
                $('#maintree_delete_node').removeAttr("disabled");
            }
            else {
                $('#maintree_delete_node').removeAttr("disabled");
                $('#maintree_add_node').removeAttr("disabled");
            }

            var id = selNode.id;
            $.lumos.getJson({
                url: "/Sys/Role/GetDetails",
                urlParams: { id: id },
                isUseHandling: true,
                success: function (d) {

                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $("#lbl_PName").text(parentName);
                        $("#txt_Name").val(data.name);
                        $("#txt_Description").val(data.description);

                        var checkedNodes = mainTree_Rmenus.getCheckedNodes();
                        for (var k = 0; k < checkedNodes.length; k++) {
                            mainTree_Rmenus.checkNode(checkedNodes[k]);
                        }

                        $.each(data.menuIds, function (i, n) {
                            var node = mainTree_Rmenus.getNodeByParam("id", n);
                            mainTree_Rmenus.checkNode(node);
                        });
                    }
                    else {
                        $.lumos.tips(d.message);
                    }
                }
            });
        }

        function refresh(type) {
            switch (type) {
                case 1:
                    mainTreeLoadData()
                    break;
            }
        }

        function menuTreeLoadData() {
            $.lumos.getJson({
                url: "/Sys/Menu/GetAll",
                urlParams: { belongSite: belongSite },
                success: function (d) {
                    var data = d.data;
                    mainTree_Rmenus = $.fn.zTree.init($("#tree_Menus"), {
                        view: {
                            selectedMulti: false
                        },
                        check: {
                            enable: true
                        },
                        data: {
                            simpleData: {
                                enable: true
                            },
                            key: {
                                url: "_url"
                            }

                        }
                    }, data);
                }
            });

        }

        var dragId;
        function getPeerNodes(targetNode) {
            if (targetNode == null) {
                return null;
            } else {
                if (targetNode.getParentNode() != null) {
                    return targetNode.getParentNode().children;
                }
                return null;
            }

        }

    </script>
}


<dl class="tree-tab">
    <dd class="tree-tab-left">
        <ul id="maintree" class="ztree"></ul>
    </dd>
    <dd class="tree-tab-right">
        <div class="tab" id="tab_Main">
            <div class="tab-item">
                <ul>
                    <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                    <li class="item"><a class="a-btn-info" href="javascript:void(0)">关联菜单</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="subcontent">
                    <div class="f-btn-area" style="margin-bottom:5px;">
                        <input type="button" class="btn btn-open" id="maintree_add_node" value="新建" />
                        <input type="button" class="btn btn-delete" id="maintree_delete_node" value="删除" />
                    </div>
                    <form name="form1" method="post" id="form1">
                        <table class="f-tb" cellpadding="0" cellspacing="1">
                            <tr>
                                <td class="f-tb-t">
                                    上级名称：
                                </td>
                                <td class="f-tb-c">
                                    <label id="lbl_PName">/</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    <span class="required-symbol">*</span>名称：
                                </td>
                                <td class="f-tb-c">
                                    <input id="txt_Name" type="text" autocomplete="off" value="" style="width: 250px;" class="input-control" />
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    备注：
                                </td>
                                <td class="f-tb-c">
                                    <textarea id="txt_Description" autocomplete="off" rows="5" cols="42" class="input-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t"></td>
                                <td class="f-tb-c">
                                    <input type="button" name="btn_Save" value="保存" id="maintree_eidt_node" class="btn btn-sure" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="subcontent">
                    <form id="form3" name="form3">
                        <ul id="tree_Menus" class="ztree"></ul>
                        <div class="f-btn-area" style="margin-bottom:5px; text-align:center">
                            <input type="button" class="btn btn-sure" id="maintree_save_menus" value="保存" style="margin-right:5px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dd>
</dl>
<div class="help-tips">提示：最大支持二级节点</div>


