@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var tab_Main;
        var tree_Roles;
        var tree_Menus;
        var list_RoleUsers;
        var cur_RoleId;
        var belongSite = $.lumos.getUrlParamValue("belongSite");
        $(this).ready(function () {



            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator({ onShow: "&nbsp;", onFocus: "", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 20, empty: { leftEmpty: false, emptyError: "名称不能为空" }, onError: "名称不能超过20个字符" });
            $("#txt_Description").formValidator({ onShow: "&nbsp;", onFocus: "", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 500, onError: "备注不能超过500个字符" });

            tab_Main = $("#tab_Main").tab({
                click: function (index) {
                    var selObj = getSelectedNode();
                    if (selObj == null) {
                        return false;
                    }
                    switch (index) {
                        case 0:
                            getDetails();
                            break;
                        case 1:
                            list_RoleUsers.loadData();
                            break;
                        case 2:
                            getDetails();
                            break;
                    }
                    return true;
                }
            });

            $("#btn_add").click(function () {
                var url = '/Sys/Role/Add?belongSite=' + belongSite;
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '350px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });

            });

            $("#btn_delete").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }
                art.dialog.confirm(
                    "确定删除[" + selObj.name + "]节点及其子节点吗？",
                         function () {
                             var id = selObj.id;
                             var roleIds = [];
                             var nodes = tree_Roles.getSelectedNodeFollowChildren();
                             $.each(nodes, function (i, n) {
                                 roleIds.push(n.id);
                             });
                             $.lumos.postJson({
                                 url: "/Sys/Role/Delete",
                                 data: { roleIds: roleIds },
                                 success: function (d) {
                                     $.lumos.tips(d.message);
                                     if (d.result == $.lumos.resultType.success) {
                                         $("#txt_Name").val("");
                                         $("#txt_Description").val("");
                                         loadRoles();
                                     }
                                 }
                             });
                             return true;
                         });
                return false;
            });

            $("#btn_add_roleuser").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }
                $.lumos.openDialog('/Sys/Role/AddUserToRole?roleId=' + selObj.id, '添加角色用户', '650px', '520px');
            });

            $("#btn_save_rolemenu").click(function () {

                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                art.dialog.confirm('确定要保存？', function () {

                    var nodes = tree_Menus.getCheckedNodes(true);
                    var menuIds = [];
                    for (var key in nodes) {
                        menuIds.push(nodes[key].id);
                    }
                    $.lumos.postJson({
                        url: "/Sys/Role/SaveRoleMenu",
                        isUseHandling: true,
                        data: { roleId: cur_RoleId, menuIds: menuIds },
                        success: function (d) {
                            $.lumos.tips(d.message);
                        }
                    });
                });
                return false;
            });

            list_RoleUsers = $("#list_table_roleuser").loadDataTable({
                url: "/Sys/Role/GetRoleUserList",
                pageIndex: 0,
                searchParams: $("#form2").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form2",
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"delete\\\"  class=\\\"a-btn\\\" >删除</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.userName + "\"   >" + p_row.userName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.fullName + "\">" + p_row.fullName + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows = l_StrRows.replace(/{key}/g, p_row.id);
                    l_StrRows = l_StrRows.replace(/{title}/g, p_row.userName);
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "delete": function (keys) {
                        var selObj = getSelectedNode();
                        if (selObj == null) {
                            return;
                        }
                        var userIds = [];
                        $.each(keys, function (i, n) {
                            userIds.push(n.userId);
                        });

                        $.lumos.postJson({
                            url: "/Sys/Role/RemoveUserFromRole",
                            data: { roleId: cur_RoleId, userIds: userIds },
                            success: function (d) {
                                $.lumos.tips(d.message);
                                if (d.result == $.lumos.resultType.success) {
                                    list_RoleUsers.loadData(0);
                                }
                            }
                        });

                    }
                }
            });

            initData();
        });

        function initData() {
            loadRoles();
            loadMenus();
        }

        function loadRoles() {
            $.lumos.getJson({
                url: "/Sys/Role/GetAll",
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        tree_Roles = $.fn.zTree.init($("#tree_Roles"), {
                            view: {
                                showLine: true,
                                selectedMulti: false
                            },
                            data: {
                                simpleData: { enable: true }
                            },
                            callback: {
                                onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {
                                    cur_RoleId = treeNode.id;
                                    $("#txt_PName").defaultPassed();
                                    $("#txt_Name").defaultPassed();
                                    $('input[name=RoleId').val(cur_RoleId);
                                    var parentName = "/";
                                    if (treeNode.getParentNode() != null) {
                                        parentName = treeNode.getParentNode().name;
                                        $(".a-btn-del").show();
                                    }
                                    else {
                                        $(".a-btn-del").hide();
                                    }


                                    tab_Main.click();
                                }
                            }
                        }, data);
                        var node = tree_Roles.getNodeByParam("id", 0, null);
                        tree_Roles.selectNode(node);
                    }

                }
            });
        }

        function loadMenus() {
            $.lumos.getJson({
                url: "/Sys/Menu/GetAll",
                urlParams: { pMenuId: "0", belongSite: belongSite },
                success: function (d) {

                    var zNodes = d.data;
                    tree_Menus = $.fn.zTree.init($("#tree_Menus"), {
                        view: {
                            selectedMulti: false
                        },
                        check: {
                            enable: true
                        },
                        data: {
                            simpleData: {
                                enable: true
                            },
                            key: {
                                url: "_url"
                            }

                        }
                    }, zNodes);

                }
            });

        }

        function getDetails() {
        
            $.lumos.getJson({
                url: "/Sys/Role/GetDetails",
                urlParams: { roleId: cur_RoleId },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $("#txt_Name").val(data.name);
                        $("#txt_Description").val(data.description);


                        var checkedNodes = tree_Menus.getCheckedNodes();
                        for (var k = 0; k < checkedNodes.length; k++) {
                            tree_Menus.checkNode(checkedNodes[k]);
                        }

                        $.each(data.menuIds, function (i, n) {
                            var node = tree_Menus.getNodeByParam("id", n);
                            tree_Menus.checkNode(node);
                        });
                    }
                    else {
                        $.lumos.tips(d.message);
                    }
                }
            });
        }

        function edit() {

            var selObj = getSelectedNode();
            if (selObj == null) {
                return false;
            }

            var isValid = $.formValidator.pageIsValid();
            if (isValid) {
                art.dialog.confirm('确定要保存？', function () {

                    var name = $('#txt_Name').val();
                    var description = $("#txt_Description").val();
                    $.lumos.postJson({
                        url: "/Sys/Role/Edit",
                        isUseHandling: true,
                        data: { roleId: cur_RoleId, name: name, description: description },
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                loadRoles(id);
                            }
                        }
                    });
                });
            }
            return false;
        }

        function getSelectedNode() {
            var selObj = tree_Roles.getSelectedNodes();
            if ($.lumos.isNullOrEmpty(selObj)) {
                $.lumos.tips("请在左边树形结构选中节点信息");
                return null;
            }
            return selObj[0];
        }

        function refresh(type) {
            switch (type) {
                case 1:
                    loadRoles()
                    break;
                case 2:
                    list_RoleUsers.loadData('c');
                    break;
            }
        }

    </script>
}


<dl class="tree-tab">
    <dd class="tree-tab-left">
        <ul id="tree_Roles" class="ztree"></ul>
    </dd>
    <dd class="tree-tab-right">
        <div class="tab" id="tab_Main">
            <div class="tab-item">
                <ul>
                    <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                    <li class="item"><a class="a-btn-info" href="javascript:void(0)">关联用户</a></li>
                    <li class="item"><a class="a-btn-info" href="javascript:void(0)">关联菜单</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="subcontent">
                    <div class="f-btn-area" style="margin-bottom:5px;">
                        <input type="button" class="btn btn-open" id="btn_add" value="新建" />
                        <input type="button" class="btn btn-delete" id="btn_delete" value="删除" />
                    </div>
                    <form name="form1" method="post" id="form1">
                        <table class="f-tb" cellpadding="0" cellspacing="1">
                            <tr>
                                <td class="f-tb-t">
                                    <span class="required-symbol">*</span>名称：
                                </td>
                                <td class="f-tb-c">
                                    <input id="txt_Name" type="text" autocomplete="off" value="" style="width: 250px;" class="input-control" />
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    备注：
                                </td>
                                <td class="f-tb-c">
                                    <textarea id="txt_Description" autocomplete="off" rows="5" cols="42" class="input-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t"></td>
                                <td class="f-tb-c">
                                    <input type="button" onclick="return edit()" name="btn_Save" value="保存" id="btn_Save" class="btn btn-sure" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="subcontent">
                    <form id="form2" name="form2">
                        <input type="hidden" name="RoleId" />
                        <div class="search-bar">
                            <div class="filter">
                                <span class="filter-label">用户名：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" name="UserName" style="width:120px;" />
                                </span>
                            </div>
                            <div class="filter">
                                <span class="filter-label">姓名：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" name="FullName" style="width:120px;" />
                                </span>
                            </div>

                            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>

                            <div class="filter" style="float:right"><input type="button" class="btn btn-add" id="btn_add_roleuser" value="添加" /><input type="button" class="btn btn-sure" id="btn_Add" value="删除" multiple="true" operate="delete" style="margin-right:0px;margin-left:5px;" />  </div>
                        </div>
                        <div class="list">
                            <table id="list_table_roleuser" class="list-tb" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:15%" class="no">
                                            <input type="checkbox" name="list_table_ckb" childname="list_table_ckb_child" />
                                        </th>
                                        <th style="width:15%">
                                            用户名
                                        </th>
                                        <th style="width:15%">
                                            姓名
                                        </th>
                                        <th style="width:10%" class="operation">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <div class="pull-left">
                                                <span class="load-tip"></span>
                                            </div>
                                            <div class="pull-right pagination">
                                                <div class="pagination-info">

                                                </div>
                                                <div class="pagination-index">

                                                </div>
                                                <div class="pagination-goto">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
                <div class="subcontent">
                    <form id="form3" name="form3">
                        <ul id="tree_Menus" class="ztree"></ul>
                        <div class="f-btn-area" style="margin-bottom:5px; text-align:center">
                            <input type="button" class="btn btn-sure" id="btn_save_rolemenu" value="保存" style="margin-right:5px;" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dd>
</dl>


