@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "支付确认";
}

@section styles{
    <style type="text/css">
        .tag-address {
            height: 2px;
        }

        .tag-address .img {
            width: 100%;
            height: 2px;
            display: block;
        }

        .its-odcskus {
            padding: 0 0;
        }

        .its-odcskus .it {
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #f8f8f8;
            padding: 5px 0px;
        }

        .its-odcskus .it:last-child {
            border-bottom: 0px solid #f8f8f8;
        }

        .its-odcskus .it-l {
            display: inline-block;
            overflow: hidden;
            text-align: right;
        }

        .its-odcskus .it-l .imgUrl {
            align-items: center;
            display: flex;
        }

        .its-odcskus .it-l .imgUrl .img {
            width: 4.4rem;
            height: 4.4rem;
        }

        .its-odcskus .it-m {
            flex: 1;
            display: flex;
        }

        .its-odcskus .it-ml {
            flex: 1;
            line-height: 1.4rem;
            align-items: center;
            display: flex;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            -webkit-box-orient: vertical;
        }

        .its-odcskus .it-mr {
            text-align: center;
            width: 3rem;
            align-items: center;
            display: flex;
            justify-content: flex-end;
        }

        .its-odcskus .it-r {
            text-align: center;
            align-items: center;
            display: flex;
            justify-content: flex-end;
            margin-left: 1rem;
        }

        .its-odcskus .name {
            font-size: .9rem;
        }

        .its-odcskus .quantity {
            font-size: 0.8rem;
            color: #999;
        }

        .its-odcskus .salePrice {
            color: #f18d00;
            font-size: 1.2rem;
        }
    </style>
}

<script id="tmpl_block" type="text/x-jquery-tmpl">
    {{each(i,item) block}}
    <div class="ct pd-com">
        <div class="its-a">
            <div class="it">
                <div class="it-l" style="width:auto;">
                    <text class="txt-h1">${item.deliveryAddress.consignee}</text>
                    {{if(item.deliveryAddress.isDefault)}}
                    <text class="txt-h2 isDefault">默认</text>
                    {{/if}}
                </div>
                <div class="it-m">
                    <div class="it-ml">
                        <text class='txt-h1 bold'>${item.deliveryAddress.phoneNumber}</text>
                        <text class='txt-h2'>${item.deliveryAddress.area} ${item.deliveryAddress.address}</text>
                    </div>
                </div>
                {{if item.deliveryAddress.canSelectElse}}
                <div class='it-r'>
                    <div class='icon'>
                        <img class="img-nav-right" src='/Content/Default/images/col_nav_right.png' />
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="its-odcskus">
            {{each(j,skusitem) item.skus}}
            <div class="it">
                <div class="it-l">
                    <div class="imgUrl">
                        <image class="img" src="${skusitem.imgUrl}"></image>
                    </div>
                </div>
                <div class="it-m">
                    <div class="it-ml">
                        <text class='name'>${skusitem.name}</text>
                    </div>
                    <div class="it-mr">
                        <text class='quantity'> x ${skusitem.quantity}</text>
                    </div>
                </div>
                <div class="it-r">
                    <text class='salePrice'> ${skusitem.salePrice}</text>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <div class="line-space"></div>
    {{/each}}
</script>
<div class="tag-address">
    <img class="img" src="/Content/default/images/tag_address.png" />
</div>
<div id="ord-block">

</div>
<div id="btn_UnifiedOrder" class="btn-bottom">
    立即支付
</div>

<script type="text/javascript">

    var orderId = "@Request.QueryString["orderId"]";
    $(document).ready(function () {

        $.lumos.postJson({
            url: "/Order/Confirm",
            isShowLoading: true,
            data: { source: "machine", orderId: orderId },
            success: function (d) {
                if (d.result == $.lumos.resultType.success) {
                    $("#tmpl_block").tmpl(d.data).appendTo('#ord-block');
                }
            }
        });

        //$.lumos.payResult({
        //    result: "1",
        //    message: "提交成功",
        //    remarks: "因提现订单较多，我司统一在每月10号/20号/30号，统一进行打款到您的账户，请注意在这三天查收到账情况，有任务问题，欢迎咨询：020-8231086",
        //    fields: [
        //        { name: "订单号", value: "2223" },
        //        { name: "支付时间", value: "2012-12-12" }
        //    ],
        //    buttons: [{
        //        name: "继续提现",
        //        color: "red",
        //        url: "/Withdraw/Apply"
        //    }, {
        //        name: "回到首页",
        //        color: "green",
        //        url: "/Personal/Index"
        //    }]
        //});


        $("#btn_UnifiedOrder").on("click", function () {
            var _this = $(this);
            $(_this).attr("disabled", "disabled");
            var payWay = "";
            if (/MicroMessenger/.test(window.navigator.userAgent)) {
                payWay = 1;
            } else if (/AlipayClient/.test(window.navigator.userAgent)) {
                payWay = 2;
            }
            $.lumos.postJson({
                url: "/Order/UnifiedOrder",
                isShowLoading: true,
                data: { payWay: payWay, orderId: orderId },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var params = d.data;
                        if (payWay == 1) {
                            wx.chooseWXPay({
                                appId: params.appId,
                                timestamp: params.timestamp,
                                nonceStr: params.nonceStr,
                                package: params.package,
                                signType: params.signType,
                                paySign: params.paySign,
                                success: function (res) {
                                    $.lumos.tips('您已支付成功');
                                },
                                cancel: function (res) {
                                    $.lumos.tips('您已取消支付');
                                }
                            });
                        }
                    } else {
                        $.lumos.tips(d.message);
                        $(_this).removeAttr("disabled");
                    }
                }
            });

        });
    });

</script>
