@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <style type="text/css">
         input[type=text] {
            border-left-width: 0px;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-color: black;
            border-bottom-width: 0.1px;
        }

         input[type=text]:focus {
            border-width: 0px;
            outline: none;
            border-bottom-width: 0.1px;
        }

        .autocomplete-skusearch .autocomplete-selected{
            color:#30a5ff;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            addRowSku();
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_StockOutTime").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "请选择日期" });
            $("#sel_WarehouseId").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 500, onError: "请选择仓库" });
            $("#sel_TargetId").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 500, onError: "请选择" });



            $('.deleteRowSku').live("click", function () {
                var _this = $(this);
                var rows = $('#list_table_skus tbody tr');
                if (rows.length <= 1) {
                    $.lumos.tips("最后一行，不能删除");
                    return;
                }
                art.dialog.confirm('确定要删除该商品？', function () {
                    $(_this).parent().parent().remove();
                });

            });
        });

        function add() {

            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return;

            var isNoHasErrorVal = false;
            var isNoHasSku = true;

            var rows = $('#list_table_skus tbody tr');

            var skus = [];
            $.each(rows, function (i, row) {

                var id = $(row).find("input[name=id]").val();
                if (id != "") {
                    isNoHasSku = false;

                    var quantity = $(row).find("input[name=quantity]").val();


                    if (!$.lumos.isInt(quantity)) {
                        $.lumos.tips("检查到输入数量的值不是正整数格式");
                        isNoHasErrorVal = true;
                        return;
                    }


                    skus.push({ skuId: id, quantity: quantity });
                }

            });

            if (isNoHasErrorVal) {
                return;
            }

            if (isNoHasSku) {
                $.lumos.tips("至少入库一种商品");
                return;
            }


            art.dialog.confirm(
           '确定要提交？',
            function () {

                var stockOutTime = $("#txt_StockOutTime").val();
                var warehouseId = $("#sel_WarehouseId").val();
                var targetId = $("#sel_TargetId").find("option:selected").val();
                var targetName = $("#sel_TargetId").find("option:selected").attr("name");
                var targetType = $("#sel_TargetId").find("option:selected").attr("type");
                var description = $("#txt_Description").val()

                $.lumos.postJson({
                    isUseHandling: true,
                    url: "/Order2StockOut/Add",
                    data: { stockOutTime: stockOutTime, warehouseId: warehouseId, targetId: targetId,targetName:targetName,targetType:targetType, description: description, skus: skus },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(1);
                            $.lumos.tips(d.message,true);
                        }
                        else{
                            $.lumos.tips(d.message);
                        }
                    }
                });
            });

            return false;
        }


        function addRowSku() {

            var l_StrRows = "";
            l_StrRows += "<tr>";
            l_StrRows += "<td><input type=\"text\" name=\"code\" autocomplete=\"skusearch\" style=\"width:80%;\" value=\"\" autocomplete=\"off\" /></td>";
            l_StrRows += "<td ><input type=\"hidden\" name=\"id\" value=\"\"  /><span class=\"name\"></span> </td>";
            l_StrRows += "<td><input type=\"text\" name=\"quantity\" style=\"width:80%;\" value=\"\" autocomplete=\"off\"  onkeyup=\"clearNoNum2(this)\"   /></td>";
            l_StrRows += "<td class=\"operation\">";
            l_StrRows += " <a href=\"javascript:void(0)\"  class=\"a-btn deleteRowSku\" >删除</a>";
            l_StrRows += "</td>";
            l_StrRows += "</tr>";

            $('#list_table_skus tbody').append(l_StrRows);
        }



        function clearNoNum2(obj) {
            obj.value = obj.value.replace(/[^1-9]/g, '');  //清除“数字”和“.”以外的字符
            if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
                obj.value = parseFloat(obj.value);
            }
        }

        function clearNoNum(obj) {
            obj.value = obj.value.replace(/[^\d.]/g, "");  //清除“数字”和“.”以外的字符
            obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
            obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');//只能输入两个小数
            if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
                obj.value = parseFloat(obj.value);
            }
        }
    </script>
}



<div class="gbr-row gbr-dialog">

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t" style="width:80px">
                出库日期<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c" style="width:105px">
                <input id="txt_StockOutTime" type="text" value="@DateTime.Now.ToUnifiedFormatDate()" class="Wdate" style="width:100px;" onclick="WdatePicker({ maxDate: '#F{\'@DateTime.Now.ToString("yyyy-MM-dd")\'}', dateFmt: 'yyyy-MM-dd' })" autocomplete="off" />
            </td>
            <td class="f-tb-t" style="width:45px">
                仓库<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c">
                @Html.initWarehouse("sel.WarehouseId")
            </td>
            <td class="f-tb-t" style="width:50px">
                目的处<span class="required-symbol">*</span>：
            </td>
            <td class="f-tb-c">
                @Html.initOrder2StockOutTarget("sel.TargetId")
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                描述：
            </td>
            <td class="f-tb-c" colspan="5">
                <input id="txt_Description" type="text" value="" style="width:80%;" autocomplete="off" />
            </td>
        </tr>
    </table>
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>商品信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <div class="list list-skus">
        <table id="list_table_skus" class="list-tb list-tb-skus" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:20%" class="no">
                        编码/名称/简写
                    </th>
                    <th style="width:45%">
                        商品
                    </th>
                    <th style="width:30%">
                        数量（计单位/个）
                    </th>
                    <th style="width:5%" class="operation">
                        操作
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>