@{
    ViewBag.Title = "理赔申请协议";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background-color: #fff;
        }
    </style>
}

<div class="vnotice">
    <div class="vnotice-container">
        <div class="item-con">
            <ol>
                <li>1.月保费一万以上（不含交强险）</li>
                <li>2.有三类以上维修资质 &nbsp;</li>
                <li>3.上传营业执照.联系人名片.银行卡照片（暂限人保，中华联合，富德）</li>
            </ol>
        </div>
    </div>
</div>

