@model WebAppApi.Models.Resource.DetailsViewModelByProduct
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section styles{
    <style type="text/css">
        body {
            background-color: #fff;
        }
    </style>
}


<div class="vnotice">
    <div class="vnotice-container">
        <div class="item-con">
            @Html.Raw(Model.Product.Details)
        </div>
    </div>
</div>