@{
    ViewBag.Title = "人才用工协议";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<style type="text/css">
    table {
        table-layout: fixed;
        width: 100%;
        background-color: #e6e7e8;
         border-collapse: collapse;
    }

    table tr td {
        border: 0px;
        padding-left: 8px;
        cursor: default;
        padding-top: 8px;
        padding-bottom: 8px;
        height: 32px;
        line-height: 21px;
        background-color: #fff;
        word-break: break-word;
        border: 1px solid #000;
    }

    /*table, table tr th, table tr td {
        border: 1px solid #0094ff;
    }

    table {
        width: 200px;
        min-height: 25px;
        line-height: 25px;
        text-align: center;
        border-collapse: collapse;
        padding: 2px;
    }*/
</style>

<div class="vnotice">
    <div class="vnotice-container">
        <div class="item-con">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;line-height:26px">
                <tbody>
                    <tr>
                        <td colspan="4" style="text-align:center;font-size:24px;font-weight:bold;">
                            用工须知
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 好易联平台旗下子系统车尊会汽车服务有限公司专注于车后市场行业垂直招聘，旨在打造华南地区车后市场匹配度最高的招聘移动平台。<br />
                            平台通过建立校、政、企三维立体系统，不断健全人才供应机制，以满足广大合作门店发展需要。
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%">
                            项目/分类
                        </td>
                        <td style="width:20%">毕业实习生</td>
                        <td style="width:20%">周末兼职</td>
                        <td style="width:20%">专业技师</td>
                    </tr>
                    <tr>
                        <td>培养模式</td>
                        <td style="vertical-align: top;">
                            ①实习期前3个月，熟悉洗美、保养流程，初步涉及机修知识；<br />
                            ②3个月后嵌入维修、管理、营销等用工项目；符合平台对于一站式综合性服务人才的培养模式；
                        </td>
                        <td style="vertical-align: top;">
                            ①尊重兼职实习生，善于引导、培养；<br />
                            ②劳动强度不可过高；<br />
                            ③每天实际用工时间不超过8小时；
                        </td>
                        <td rowspan="5" style="vertical-align: top;">中工、 大工、 钣喷钣金工、&nbsp;&nbsp; 变速箱专修、&nbsp;&nbsp;&nbsp;&nbsp; 底盘专修、&nbsp;&nbsp;&nbsp;&nbsp; 发动机专修、&nbsp;&nbsp; 店长、&nbsp; 销售&hellip;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 持续更新中，期待上架&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td>福利待遇</td>
                        <td style="vertical-align: top;">
                            同工同酬；<br />
                            承担到岗交通费、保险费
                        </td>
                        <td style="vertical-align: top;">
                            提供实习津贴；<br />
                            报销往返交通费
                        </td>
                    </tr>
                    <tr>
                        <td>作息制度</td>
                        <td style="vertical-align: top;">
                            依门店标准；<br />
                            月休2-4天
                        </td>
                        <td style="vertical-align: top;">周日当天预留返校时间</td>
                    </tr>
                    <tr>
                        <td>食宿环境</td>
                        <td style="vertical-align: top;">提供食宿</td>
                        <td style="vertical-align: top;">提供伙食，承担往返交通费；</td>
                    </tr>
                    <tr>
                        <td>操作流程</td>
                        <td style="vertical-align: top;">提交需求表&rarr;平台收录网站数据库&rarr;推动报名&rarr;供应成功</td>
                        <td style="vertical-align: top;">提交需求表&rarr;平台收录网站数据库&rarr;推动报名&rarr;供应成功</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

