@{
    ViewBag.Title = "菜单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        var num = 0;
        var maxMum = 2;
        var tree_Menus;
        var tab_Main;
        var cur_MenuId;
        var belongSite = $.lumos.getUrlParamValue("belongSite");
        $(this).ready(function () {

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { } });
            $("#txt_Name").formValidator({ onShow: "&nbsp;", onFocus: "不超过20个字符", onCorrect: "&nbsp;", empty: false, onEmpty: "不能为空" }).inputValidator({ min: 1, max: 20, empty: { leftEmpty: false, emptyError: "不能为空" }, onError: "不超过20个字符" });
            $("#txt_Url").formValidator({ onShow: "&nbsp;", onFocus: "不超过200个字符", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 200, onError: "不超过200个字符" });
            $("#txt_Description").formValidator({ onShow: "&nbsp;", onFocus: "不超过500个字符", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 500, onError: "不超过500个字符" });

            tab_Main = $("#tab_Main").tab();

            $("#btn_add").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                var url = '/Sys/Menu/Add?belongSite=' + belongSite + '&pMenuId=' + selObj.id + '&pMenuName=' + escape(selObj.name)
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '700px', height: '480px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });
            });

            $("#btn_edit").click(function () {
                edit();
                return false;
            })

            $("#btn_delete").click(function () {

                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                art.dialog.confirm(
                    "确定删除[" + selObj.name + "]节点及其子节点吗？",
                    function () {
                        var id = selObj.id;
                        var menuIds = [];
                        var nodes = tree_Menus.getSelectedNodeFollowChildren();
                        $.each(nodes, function (i, n) {
                            menuIds.push(n.id);
                        });

                        $.lumos.postJson({
                            url: "/Sys/Menu/Delete",
                            data: { menuIds: menuIds },
                            success: function (d) {
                                $.lumos.tips(d.message);
                                loadMenus(id);
                            }
                        });
                        return true;
                    });
                return false;
            });

            $("#btn_sort").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                if (typeof selObj.children == "undefined") {
                    $.lumos.tips("该节点没有子节点！");
                    return;
                }

                var url = '/Sys/Menu/Sort?pMenuId=' + selObj.id + '&pMenuName=' + escape(selObj.name);
                var title = '排序';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '400px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                        this.iframe.contentWindow.edit();
                        return false;
                    }
                });

            });

            initData();
        });

        function initData() {
            loadMenus();
            loadPermissions();
        }

        function getChildNodeGrade(treeNode) {
            var p = treeNode.getParentNode();
            if (p != null) {
                num += 1;
                getChildNodeGrade(p);
            }
        }

        function getSelectedNode() {
            var selObj = tree_Menus.getSelectedNodes();
            if ($.lumos.isNullOrEmpty(selObj)) {
                $.lumos.tips("请在左边树形结构选中节点信息");
                return null;
            }
            return selObj[0];
        }

        function edit() {

            var selObj = getSelectedNode();
            if (selObj == null) {
                return false;
            }
            var isValid = $.formValidator.pageIsValid();
            if (isValid) {
                art.dialog.confirm('确定要保存？', function () {
                    var menuId = selObj.id;
                    var name = $("#txt_Name").val();
                    var url = $("#txt_Url").val();
                    var description = $("#txt_Description").val();
                    var permissionIds = [];
                    $('input:checkbox[name=permissionId]:checked').each(function (k) {
                        var val = $(this).val();
                        permissionIds.push(val)
                    })

                    $.lumos.postJson({
                        url: "/Sys/Menu/Edit",
                        data: { menuId: menuId, name: name, url: url, description: description, permissionIds: permissionIds },
                        isUseHandling: true,
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                loadMenus(id);
                            }
                        }
                    });
                });
            }


            return false;
        }

        function loadMenus(id) {

            $.lumos.getJson({
                url: "/Sys/Menu/GetAll",
                urlParams: { pMenuId: "0", belongSite: belongSite },
                success: function (d) {

                    var obj = d.data;
                    tree_Menus = $.fn.zTree.init($("#tree_Menus"), {
                        view: {
                            showLine: true,
                            selectedMulti: false
                        },
                        data: {
                            simpleData: {
                                enable: true
                            },
                            key: {
                                url: "_url"
                            }
                        },
                        callback: {
                            onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {

                                var parentName = "/";
                                if (treeNode.getParentNode() != null) {
                                    parentName = treeNode.getParentNode().name;
                                    $("#btn_delete").show();
                                }
                                else {
                                    $("#btn_delete").hide();
                                }

                                /*最大支持几级菜单由maxMum决定 可修改这个值*/
                                num = 0;
                                getChildNodeGrade(treeNode);
                                if (num >= maxMum) {
                                    $("#btn_add").hide();
                                }
                                else {
                                    $("#btn_add").show();
                                }

                                cur_MenuId = treeNode.id;

                                $.lumos.getJson({
                                    url: "/Sys/Menu/GetDetails",
                                    urlParams: { menuId: treeNode.id },
                                    success: function (d) {

                                        if (d.result == $.lumos.resultType.success) {
                                            $("#lbl_PName").text(parentName);
                                            var data = d.data;
                                            $("#txt_Name").val(data.name);
                                            $("#txt_Name").defaultPassed();
                                            $("#txt_Url").val(data.url);
                                            $("#txt_Description").val(data.description);
                                            $("#txt_Description").defaultPassed();

                                            $("input[name='permissionId']").attr("checked", false);

                                            var permissionIds = data.permissionIds;
                                            for (var i = 0; i < permissionIds.length; i++) {
                                                $("input[name='permissionId'][value='" + permissionIds[i] + "']").attr("checked", true);
                                            }

                                        }
                                    }
                                });

                            }
                        },
                        async: {
                            url: ""
                        }

                    }, obj);

                    var node = tree_Menus.getNodeByParam("id", id, null);
                    tree_Menus.selectNode(node);

                    var left = $('#tree_Menus').height();
                    var right = $('#tree_tab_right').height();
                    if (left > right) {
                        $('#tree_tab_right').height(left + 20);
                    }
                }
            });
        }

        function loadPermissions() {
            $.lumos.getJson({
                url: "/Sys/Menu/GetPermissions",
                urlParams: { belongSite: belongSite },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {

                        var data = d.data;
                        var perHtml = '';
                        $.each(data.permissions, function (i, n) {
                            perHtml += '<span style="width:180px;float:left">';
                            perHtml += '<input id="cb_Permission_' + i + '" type="checkbox"  name="permissionId" value="' + n.id + '" />';
                            perHtml += '<label for="cb_Permission_' + i + '">' + n.name + '</label>';
                            perHtml += '</span>';
                        });

                        $('#list_Permission').html(perHtml)
                    }
                }
            });
        }

        function refresh(type) {
            switch (type) {
                case 1:
                    loadMenus(cur_MenuId)
                    break;
            }
        }
    </script>
}

<form name="form1" id="form1">

    <dl class="tree-tab" id="tree_tab">
        <dd class="tree-tab-left" id="tree_tab_left">
            <ul id="tree_Menus" class="ztree"></ul>
        </dd>
        <dd class="tree-tab-right" id="tree_tab_right">
            <div class="tab" id="tab_Main">
                <div class="tab-item">
                    <ul>
                        <li class="item first selected"><a href="javascript:void(0)">基本信息</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="subcontent">
                        <div class="f-btn-area">
                            <input type="button" class="btn btn-open" id="btn_add" value="新建" />
                            <input type="button" class="btn btn-open" id="btn_sort" value="排序" />
                            <input type="button" class="btn btn-delete" id="btn_delete" value="删除" />
                        </div>
                        <table class="f-tb" cellpadding="0" cellspacing="1">
                            <tr>
                                <td class="f-tb-t">
                                    上级名称：
                                </td>
                                <td class="f-tb-c">
                                    <label id="lbl_PName">/</label>
                                    <input name="txt_PName" type="hidden" id="txt_PName" />
                                    <input name="txt_PId" type="hidden" id="txt_PId" />
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    名称：
                                </td>
                                <td class="f-tb-c">
                                    <input type="text" autocomplete="off" id="txt_Name" style="width: 250px;" class="input-control" />
                                    <span id="txt_NameTip"></span>
                                </td>
                            </tr>
                            <tr class="tr_url">
                                <td class="f-tb-t">
                                    网页路径：
                                </td>
                                <td class="f-tb-c">
                                    <input type="text" autocomplete="off" id="txt_Url" class="input-control" style="width: 350px;" />
                                    <span id="txt_UrlTip"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    权限：
                                </td>
                                <td class="f-tb-c">
                                    <div id="list_Permission"></div>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    备注：
                                </td>
                                <td class="f-tb-c">
                                    <textarea rows="5" cols="46" id="txt_Description" class="input-control"></textarea>
                                    <span id="txt_DescriptionTip"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    &nbsp;
                                </td>
                                <td class="f-tb-c">
                                    <input type="button" value="保存" id="btn_edit" class="btn btn-sure" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </dd>
    </dl>
</form>
