@{
    ViewBag.Title = "菜单列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">


        var num = 0;
        var maxMum = 2;

        var mainTree_Id = "maintree";
        var mainTree_Rmenus;
        var mainTab;
        var belongSite = $.lumos.getUrlParamValue("belongSite");
        $(this).ready(function () {

            mainTab = $("#tab_Main").tab({
                treeId: mainTree_Id,
                click: function (index, key) {
                    switch (index) {
                        case 0:
                            getMainTreeSelNodeDetails();
                            break;
                    }
                    return true;
                }
            });

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 20, onError: "名称须填,且不能超过20个字符" });
            $("#txt_Url").formValidator().inputValidator({ min: 0, max: 200, onError: "网页路径不能超过200个字符" });
            $("#txt_Description").formValidator().inputValidator({ min: 0, max: 500, onError: "描述不能超过500个字符" });

            $("#maintree_add_node").click(function () {
                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var url = '/Sys/Menu/Add?belongSite=' + belongSite + '&pId=' + selNode.id + '&pName=' + escape(selNode.name)
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '700px', height: '480px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });
            });

            $("#maintree_delete_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                art.dialog.confirm(
                    "确定删除[" + selNode.name + "]节点及其子节点吗？",
                    function () {
                        var id = selNode.id;
                        $.lumos.postJson({
                            url: "/Sys/Menu/Delete",
                            data: { id: id },
                            success: function (d) {
                                $.lumos.tips(d.message);
                                if (d.result == $.lumos.resultType.success) {
                                    $("#lbl_PName").text("/");
                                    $("#txt_Name").val("");
                                    $("#txt_Url").val("");
                                    $("#txt_Description").val("");
                                    $("input[name='permissionId']").attr("checked", false);
                                    mainTreeLoadData();
                                }
                            }
                        });
                        return true;
                    });
                return false;
            });

            $("#maintree_eidt_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var isValid = $.formValidator.pageIsValid();
                if (!isValid)
                    return;

                art.dialog.confirm('确定要保存？', function () {
                    var id = selNode.id;
                    var name = $("#txt_Name").val();
                    var url = $("#txt_Url").val();
                    var description = $("#txt_Description").val();
                    var permissionIds = [];
                    $('input:checkbox[name=permissionId]:checked').each(function (k) {
                        var val = $(this).val();
                        permissionIds.push(val)
                    })

                    $.lumos.postJson({
                        url: "/Sys/Menu/Edit",
                        data: { id: id, name: name, url: url, description: description, permissionIds: permissionIds },
                        isUseHandling: true,
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                mainTreeLoadData();
                            }
                        }
                    });
                });

                return false;
            })

            mainTreeLoadData();
            loadPermissions();

        });


        function getChildNodeGrade(treeNode) {
            var p = treeNode.getParentNode();
            if (p != null) {
                num += 1;
                getChildNodeGrade(p);
            }
        }

        function mainTreeLoadData() {

            $.lumos.getJson({
                url: "/Sys/Menu/GetAll",
                urlParams: { belongSite: belongSite },
                success: function (d) {

                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $.fn.zTree.init($("#" + mainTree_Id), {
                            edit: {
                                enable: true,
                                showRemoveBtn: false,
                                showRenameBtn: false,
                                drag: {
                                    prev: true,
                                    next: false,
                                    inner: false
                                }
                            },
                            view: {
                                showLine: true,
                                selectedMulti: false
                            },
                            data: {
                                simpleData: { enable: true }
                            },
                            callback: {
                                onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {
                                    mainTab.refresh(treeNode.id);
                                },
                                beforeDrag: function (treeId, treeNodes) {
                                    for (var i = 0, l = treeNodes.length; i < l; i++) {
                                        dragId = treeNodes[i].pId;
                                        if (treeNodes[i].drag === false) {
                                            return false;
                                        }
                                    }

                                    return true;
                                },
                                beforeDrop: function (treeId, treeNodes, targetNode, moveType, isCopy) {
                                    if (treeNodes[0].level == 0) {
                                        return false;
                                    }
                                    if (targetNode.pId == dragId) {
                                        return true;
                                    } else {
                                        $.lumos.tips('只能进行同级排序！')
                                        return false;
                                    }
                                },
                                onDrag: function () {
                                    //console.log("拖拽中");
                                    return true;
                                },
                                onDrop: function (event, treeId, treeNodes, targetNode, moveType, isCopy) {

                                    if (treeNodes[0].pId == dragId && targetNode.pId == dragId) {
                                        var updateNode = getPeerNodes(targetNode);
                                        var dics = [];
                                        for (var i = 0; i < updateNode.length; i++) {
                                            dics.push({ id: updateNode[i].id, priority: i + 1 });
                                        }

                                        $.lumos.postJson({
                                            url: "/Sys/Menu/EditSort",
                                            isUseHandling: false,
                                            data: { dics: dics },
                                            success: function (d) {
                                                $.lumos.parentDialog.refresh(1);
                                            }
                                        });

                                    } else {
                                        return false;
                                    }
                                    return true;
                                }
                            }
                        }, data);
                    }

                }
            });
        }

        function getMainTreeSelNodeDetails() {

            var selNode = mainTab.treeGetSelectedNode();
            var id = selNode.id;

            var parentName = "/";
            if (selNode.getParentNode() != null) {
                parentName = selNode.getParentNode().name;
            }


            /*最大支持几级菜单由maxMum决定 可修改这个值*/
            num = 0;
            getChildNodeGrade(selNode);
            if (num == 0) {
                $('#maintree_delete_node').attr("disabled", "disabled");
                $('#maintree_add_node').removeAttr("disabled");
            }
            else if (num >= maxMum) {
                $('#maintree_add_node').attr("disabled", "disabled");
                $('#maintree_delete_node').removeAttr("disabled");
            }
            else {
                $('#maintree_delete_node').removeAttr("disabled");
                $('#maintree_add_node').removeAttr("disabled");
            }


            $.lumos.getJson({
                url: "/Sys/Menu/GetDetails",
                urlParams: { id: id },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $("#lbl_PName").text(parentName);
                        $("#txt_Name").val(data.name);
                        $("#txt_Url").val(data.url);
                        $("#txt_Description").val(data.description);
                        $("input[name='permissionId']").attr("checked", false);
                        var permissionIds = data.permissionIds;
                        for (var i = 0; i < permissionIds.length; i++) {
                            $("input[name='permissionId'][value='" + permissionIds[i] + "']").attr("checked", true);
                        }
                    }
                }
            });

        }

        function loadPermissions() {
            $.lumos.getJson({
                url: "/Sys/Menu/GetPermissions",
                urlParams: { belongSite: belongSite },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {

                        var data = d.data;
                        var perHtml = '';
                        $.each(data.permissions, function (i, n) {
                            perHtml += '<span style="width:180px;float:left">';
                            perHtml += '<input id="cb_Permission_' + i + '" type="checkbox"  name="permissionId" value="' + n.id + '" />';
                            perHtml += '<label for="cb_Permission_' + i + '">' + n.name + '</label>';
                            perHtml += '</span>';
                        });

                        $('#list_Permission').html(perHtml)
                    }
                }
            });
        }

        function refresh(type) {
            switch (type) {
                case 1:
                    mainTreeLoadData()
                    break;
            }
        }

        var dragId;
        function getPeerNodes(targetNode) {
            if (targetNode == null) {
                return null;
            } else {
                if (targetNode.getParentNode() != null) {
                    return targetNode.getParentNode().children;
                }
                return null;
            }

        }


    </script>
}


<dl class="tree-tab" id="tree_tab">
    <dd class="tree-tab-left" id="tree_tab_left">
        <ul id="maintree" class="ztree"></ul>
    </dd>
    <dd class="tree-tab-right" id="tree_tab_right">
        <div class="tab" id="tab_Main">
            <div class="tab-item">
                <ul>
                    <li class="item first selected"><a href="javascript:void(0)">基本信息</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="subcontent">
                    <div class="f-btn-area">
                        <input type="button" class="btn btn-open" id="maintree_add_node" value="新建" />
                        <input type="button" class="btn btn-delete" id="maintree_delete_node" value="删除" />
                    </div>
                    <table class="f-tb" cellpadding="0" cellspacing="1">
                        <tr>
                            <td class="f-tb-t">
                                上级名称：
                            </td>
                            <td class="f-tb-c">
                                <label id="lbl_PName">/</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                <span class="required-symbol">*</span>名称：
                            </td>
                            <td class="f-tb-c">
                                <input type="text" autocomplete="off" id="txt_Name" style="width: 250px;" class="input-control" />
                            </td>
                        </tr>
                        <tr class="tr_url">
                            <td class="f-tb-t">
                                网页路径：
                            </td>
                            <td class="f-tb-c">
                                <input type="text" autocomplete="off" id="txt_Url" class="input-control" style="width: 350px;" />
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                权限：
                            </td>
                            <td class="f-tb-c">
                                <div id="list_Permission"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                备注：
                            </td>
                            <td class="f-tb-c">
                                <textarea rows="5" cols="46" id="txt_Description" class="input-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                &nbsp;
                            </td>
                            <td class="f-tb-c">
                                <input type="button" value="保存" id="maintree_eidt_node" class="btn btn-sure" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </dd>
</dl>
<div class="help-tips">提示：最大支持三级节点</div>

