﻿@model WebMerch.Models.Warehouse.AddViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}
@section scripts{
    <style type="text/css">
        form input[type=text] {
            border-left-width: 0px;
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-color: black;
            border-bottom-width: 0.1px;
        }

        form input[type=text]:focus {
            border-width: 0px;
            outline: none;
            border-bottom-width: 0.1px;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {
            addRowSku();
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.tips(msg); } });
            $("#Model_Warehouse_Name").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 50, onError: "名称不能为空,且不超过50个字符" });
            $("#Model_Warehouse_Address").formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 100, onError: "地址不能为空,且不超过100个字符" });

            $('input[name=code]').live("click", function () {
                var _this = $(this);
                $(_this).autocomplete({
                    serviceUrl: '/productSku/Search',
                    paramName: 'name',
                    containerClass: "autocomplete-skusearch",
                    width: '500px',
                    ajaxSettings: {
                        type: 'post',
                        dataType: 'json'
                    },
                    transformResult: function (d) {
                        return {
                            suggestions: $.map(d.data, function (item) {
                                return { value: item.barCode, data: item.name, barCode: item.barCode, id: item.id };
                            })
                        };
                    },
                    formatResult: function (suggestion, value) {

                        return "(" + suggestion.barCode + ")" + suggestion.data;
                    },
                    onSelect: function (suggestion) {
                        $(_this).parent().parent().find('input[name=id]').val(suggestion.id);
                        $(_this).parent().parent().find('.name').text(suggestion.data);
                        addRowSku();
                    }
                });

            });

        });

        function add() {
            var form = $("#form1");
            var isValid = $.formValidator.pageIsValid();
            if (isValid) {
                art.dialog.confirm(
               '确定要提交？',
                function () {
                    var l_Data = $(form).serializeArray();
                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "/Warehouse/Add",
                        data: l_Data,
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                $.lumos.parentDialog.listTable.loadData();
                                $.lumos.closeDialog();
                            }
                        }
                    });
                });
            }
            return false;
        }


        function addRowSku() {

            var l_StrRows = "";
            l_StrRows += "<tr>";
            l_StrRows += "<td><input type=\"text\" name=\"code\" style=\"width:80%;\" value=\"\" autocomplete=\"off\" /></td>";
            l_StrRows += "<td ><input type=\"hidden\" name=\"id\" value=\"\"  /><span class=\"name\"></span> </td>";
            l_StrRows += "<td><input type=\"text\" name=\"a\" style=\"width:80%;\" value=\"\" autocomplete=\"off\"/></td>";
            l_StrRows += "<td><input type=\"text\" name=\"a\" style=\"width:80%;\" value=\"\" autocomplete=\"off\" /></td>";
            l_StrRows += "<td class=\"operation\">";
            l_StrRows += "</td>";
            l_StrRows += "</tr>";


            $('#list_table_skus tbody').append(l_StrRows);
        }

    </script>
}
<div class="gbr-row">
    <form id="form1" name="form1" method="post">

        <table class="f-tb" cellpadding="0" cellspacing="1">
            <tr>
                <td class="f-tb-t" style="width:80px">
                    入库日期<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    <input id="Model_Warehouse_Name" name="Model.Warehouse.Name" type="text" value="" style="width:100px;" onclick="WdatePicker({ maxDate: '#F{\'@DateTime.Now.ToString("yyyy-MM-dd")\'}', dateFmt: 'yyyy-MM-dd' })" autocomplete="off" />
                </td>
                <td class="f-tb-t">
                    仓库<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    @Html.initWarehouse("aaa")
                </td>
                <td class="f-tb-t">
                    供应商<span class="required-symbol">*</span>：
                </td>
                <td class="f-tb-c">
                    @Html.initCompany(Lumos.Entity.Enumeration.CompanyClass.Supplier, "aaa")
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    描述：
                </td>
                <td class="f-tb-c" colspan="5">
                    <input id="Model_Warehouse_Address" name="Model.Warehouse.Address" type="text" value="" style="width:80%;" autocomplete="off" />
                </td>
            </tr>
            <tr style="display:none">
                <td class="f-tb-t"></td>
                <td class="f-tb-c">
                    <input type="button" value="保存" class="btn btn-sure" onclick="return add()" />
                </td>
            </tr>
        </table>

        <div class="list list-skus">
            <table id="list_table_skus" class="list-tb list-tb-skus" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:20%" class="no">
                            编码
                        </th>
                        <th style="width:45%">
                            商品
                        </th>
                        <th style="width:15%">
                            数量（计单位/个）
                        </th>
                        <th style="width:15%">
                            金额
                        </th>
                        <th style="width:5%" class="operation">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </form>
</div>