@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var num = 0;
        var maxMum = 2;
        var tree_Organizations;
        var tab_Main;
        var cur_OrganizationId;
        var list_OrganizationPositions;
        $(this).ready(function () {

            tab_Main = $("#tab_Main").tab({
                click: function (index) {
                    var selObj = getSelectedNode();
                    if (selObj == null) {
                        return false;
                    }

                    switch (index) {
                        case 0:
                            getDetails();
                            break;
                        case 1:
                            list_OrganizationPositions.loadData();
                            break;
                    }


                    return true;
                }
            });

            loadOrganizations();

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });

            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 20, onError: "名称须填,且不能超过20个字符" });
            $("#sel_Status").formValidator().inputValidator({ min: 1, max: 500, onError: "请选择状态" });
            $("#txt_Description").formValidator().inputValidator({ min: 0, max: 500, onError: "描述不能超过500个字符" });

            $("#btn_add").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                var url = '/Sys/Organization/Add?pOrganizationId=' + selObj.id + '&pOrganizationName=' + escape(selObj.name)
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '700px', height: '480px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });
            });

            $("#btn_delete").click(function () {

                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                art.dialog.confirm(
                    "确定删除[" + selObj.name + "]节点及其子节点吗？",
                         function () {
                             var id = selObj.id;
                             var organizationIds = [];
                             var nodes = tree_Organizations.getSelectedNodeFollowChildren();
                             $.each(nodes, function (i, n) {
                                 organizationIds.push(n.id);
                             });

                             $.lumos.postJson({
                                 url: "/Sys/Organization/Delete",
                                 data: { organizationIds: organizationIds },
                                 success: function (d) {
                                     $.lumos.tips(d.message);
                                     loadSubjects();
                                 }
                             });

                             return true;
                         });


                return false;
            });

            $("#btn_sort").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                if (typeof selObj.children == "undefined") {
                    $.lumos.tips("该节点没有子节点！");
                    return;
                }


                var url = '/Sys/Organization/Sort?id=' + selObj.id + '&pName=' + escape(selObj.name);
                var title = '排序';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '400px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                        this.iframe.contentWindow.edit();
                        return false;
                    }
                });

            });

            $("#btn_add_position").click(function () {
                var selObj = getSelectedNode();
                if (selObj == null) {
                    return;
                }

                var url = '/Sys/Organization/AddPosition';
                var title = '添加';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });

            });

            list_OrganizationPositions = $("#list_table_OrganizationPositions").loadDataTable({
                url: "/Sys/Organization/GetPositionList",
                pageIndex: 0,
                searchParams: $("#form2").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form2",
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >修改</a>")";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"delete\\\"  class=\\\"a-btn\\\" >删除</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.name + "\"   >" + p_row.name + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "delete": function (keys) {
                        var selObj = getSelectedNode();
                        if (selObj == null) {
                            return;
                        }
                        var positionIds = [];
                        $.each(keys, function (i, n) {
                            positionIds.push(n.id);
                        });

                        $.lumos.postJson({
                            url: "/Sys/Organization/RemovePosition",
                            data: { organizationId: cur_OrganizationId, positionIds: positionIds },
                            success: function (d) {
                                $.lumos.tips(d.message);
                                if (d.result == $.lumos.resultType.success) {
                                    list_OrganizationPositions.loadData(0);
                                }
                            }
                        });

                    },
                    "edit": function (obj) {
                        var url = '/Sys/Organization/EditPosition?organizationId=' + obj.id;
                        var title = '修改';
                        art.dialog.open(url, {
                            id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                                this.iframe.contentWindow.edit();
                                return false;
                            }
                        });
                    }
                }
            });

        });

        function getSelectedNode() {
            var selObj = tree_Organizations.getSelectedNodes();
            if ($.lumos.isNullOrEmpty(selObj)) {
                $.lumos.tips("请在左边树形结构选中节点信息");
                return null;
            }
            return selObj[0];
        }

        function getChildNodeGrade(treeNode) {
            var p = treeNode.getParentNode();
            if (p != null) {
                num += 1;
                getChildNodeGrade(p);
            }
        }

        function getDetails() {

            var selObj = getSelectedNode();
            if (selObj == null) {
                return;
            }
            var parentName = "/";
            if (selObj.getParentNode() != null) {
                parentName = selObj.getParentNode().name;
            }

            cur_OrganizationId = selObj.id;

            $("input[name='OrganizationId']").val(selObj.id);

            /*最大支持几级菜单由maxMum决定 可修改这个值*/
            num = 0;
            getChildNodeGrade(selObj);
            if (num >= maxMum) {
                $("#btn_add").attr("disabled", true);
            }
            else {
                $("#btn_add").attr("disabled", false);
            }

            $.lumos.postJson({
                data: { organizationId: cur_OrganizationId },
                url: "/Sys/Organization/GetDetails",
                success: function (d) {

                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $("#lbl_PName").text(parentName);
                        $("#txt_Name").val(data.name);
                        $("#txt_Description").val(data.description);
                        $("#sel_Status").find("option[value='" + data.status + "']").attr("selected", true);
                        $("#sel_Status").trigger("chosen:updated");
                    }
                }
            });
        }

        function loadOrganizations(id) {

            $.lumos.postJson({
                url: "/Sys/Organization/GetAll?pId=0",
                success: function (d) {
                    var obj = eval(d.data);
                    tree_Organizations = $.fn.zTree.init($("#tree_Organizations"), {
                        view: {
                            showLine: true,
                            selectedMulti: false
                        },
                        data: {
                            simpleData: { enable: true }
                        },
                        callback: {
                            onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {
                                getDetails();
                            }
                        }
                    }, obj);
                    var node = tree_Organizations.getNodeByParam("id", id, null);
                    tree_Organizations.selectNode(node);
                }
            });

        }

        function eidt() {

            var selObj = getSelectedNode();
            if (selObj == null) {
                return false;
            }
            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return false;

            art.dialog.confirm('确定要保存？', function () {
                var id = selObj.id;

                var name = $('#txt_Name').val();
                var description = $("#txt_Description").val();
                var status = $("#sel_Status").val();

                $.lumos.postJson({
                    url: "/Sys/Organization/Edit",
                    data: { organizationId: cur_OrganizationId, name: name, description: description, status: status },
                    success: function (d) {
                        $.lumos.tips(d.message);
                        loadOrganizations(id);
                    }
                });
            });

            return false;
        }

        function refresh(type) {
            switch (type) {
                case 1:
                    loadOrganizations(cur_OrganizationId)
                    break;
            }
        }

        //-->
    </script>
}


<dl class="tree-tab">
    <dd class="tree-tab-left">
        <ul id="tree_Organizations" class="ztree"></ul>
    </dd>
    <dd class="tree-tab-right">
        <div class="tab" id="tab_Main">
            <div class="tab-item">
                <ul>
                    <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                    <li class="item"><a class="a-btn-info" href="javascript:void(0)">关联职位</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="subcontent" style="display:block">
                    <div class="f-btn-area" style="margin-bottom:5px;">
                        <input type="button" class="btn btn-open" id="btn_add" value="新建" />
                        <input type="button" class="btn btn-delete" id="btn_delete" value="删除" />
                        @*<input type="button" class="btn btn-open" id="btn_sort" value="排序" />*@
                    </div>
                    <form name="form1" method="post" id="form1">

                        <table class="f-tb" cellpadding="0" cellspacing="1">
                            <tr>
                                <td class="f-tb-t">
                                    上级名称：
                                </td>
                                <td class="f-tb-c">
                                    <label id="lbl_PName">/</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t" style="width:50px">
                                    <span class="required-symbol">*</span>名称：
                                </td>
                                <td class="f-tb-c">
                                    <input type="text" autocomplete="off" value="" id="txt_Name" style="width: 250px;" class="input-control" />
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t" style="width:50px;">
                                    <span class="required-symbol">*</span>状态：
                                </td>
                                <td class="f-tb-c">
                                    @(Html.initEnumeration<Lumos.Entity.Enumeration.SysOrganizationStatus>(Lumos.Entity.Enumeration.InputType.Select, "sel.Status", new { @class = "chosen-select", defaulttext = "请选择", style = "width:100px", hidevalue = new Lumos.Entity.Enumeration.SysOrganizationStatus[] { Lumos.Entity.Enumeration.SysOrganizationStatus.Unknow } }))
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    备注：
                                </td>
                                <td class="f-tb-c">
                                    <textarea rows="5" cols="42" id="txt_Description" class="input-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t"></td>
                                <td class="f-tb-c">
                                    <input type="button" onclick="eidt()" name="btn_Save" value="保存" id="btn_Save" class="btn btn-sure" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="subcontent">
                    <form id="form2" name="form2">
                        <input type="hidden" name="OrganizationId" />
                        <div class="search-bar">
                            <div class="filter">
                                <span class="filter-label">名称：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" name="Name" style="width:120px;" />
                                </span>
                            </div>
                            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
                            <div class="filter" style="float:right"><input type="button" class="btn btn-add" id="btn_add_position" value="添加" /></div>
                        </div>
                        <div class="list">
                            <table id="list_table_OrganizationPositions" class="list-tb" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:15%" class="no">
                                            序号
                                        </th>
                                        <th style="width:15%">
                                            名称
                                        </th>
                                        <th style="width:10%" class="operation">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="pull-left">
                                                <span class="load-tip"></span>
                                            </div>
                                            <div class="pull-right pagination">
                                                <div class="pagination-info">

                                                </div>
                                                <div class="pagination-index">

                                                </div>
                                                <div class="pagination-goto">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dd>
</dl>
