@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var mainTree_Id = "maintree";
        var mainTree_RPositions;
        var mainTab;
        $(this).ready(function () {

            mainTab = $("#tab_Main").tab({
                treeId: mainTree_Id,
                click: function (index, key) {

                    $("input[name=OrganizationId]").val(key);

                    switch (index) {
                        case 0:
                            getMainTreeSelNodeDetails();
                            break;
                        case 1:
                            //mainTree_RPositions.loadData();
                            break;
                    }
                    return true;
                }
            });

            mainTreeLoadData();

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 20, onError: "名称须填,且不能超过20个字符" });
            $("#sel_Status").formValidator().inputValidator({ min: 1, max: 500, onError: "请选择状态" });
            $("#txt_Description").formValidator().inputValidator({ min: 0, max: 500, onError: "描述不能超过500个字符" });

            $("#maintree_add_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var url = '/Sys/Organization/Add?pId=' + selNode.id + '&pName=' + escape(selNode.name)
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '700px', height: '480px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });
            });

            $("#maintree_delete_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                art.dialog.confirm(
                    "确定删除[" + selNode.name + "]节点及其子节点吗？",
                         function () {
                             var id = selNode.id;
                             $.lumos.postJson({
                                 url: "/Sys/Organization/Delete",
                                 data: { id: id },
                                 success: function (d) {
                                     $.lumos.tips(d.message);
                                     if (d.result == $.lumos.resultType.success) {
                                         $("#lbl_PName").text("/");
                                         $("#txt_Name").val("");
                                         $("#txt_Description").val("");
                                         mainTreeLoadData();
                                     }
                                 }
                             });
                             return true;
                         });


                return false;
            });

            $("#maintree_eidt_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var isValid = $.formValidator.pageIsValid();
                if (!isValid)
                    return false;

                art.dialog.confirm('确定要保存？', function () {

                    var id = selNode.id;
                    var name = $('#txt_Name').val();
                    var description = $("#txt_Description").val();
                    var status = $("#sel_Status").val();

                    $.lumos.postJson({
                        url: "/Sys/Organization/Edit",
                        data: { id: id, name: name, description: description, status: status },
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                mainTreeLoadData();
                            }
                        }
                    });
                });

                return false;

            });

            $("#maintree_sort_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                if (typeof selNode.children == "undefined") {
                    $.lumos.tips("该节点没有子节点！");
                    return;
                }


                var url = '/Sys/Organization/Sort?pId=' + selNode.id + '&pName=' + escape(selNode.name);
                var title = '排序';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '400px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                        this.iframe.contentWindow.edit();
                        return false;
                    }
                });

            });

            $("#maintree_add_position").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var url = '/Sys/Position/Add';
                var title = '添加';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });

            });


            @*mainTree_RPositions = $("#list_RPosition").loadDataTable({
                url: "/Sys/Position/GetList",
                pageIndex: 0,
                searchParams: $("#form2").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form2",
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"  class=\\\"a-btn\\\" >编辑</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.name + "\"   >" + p_row.name + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "edit": function (obj) {

                        var url = '/Sys/Position/Edit?id=' + obj.id;
                        var title = '修改';
                        var dialog = art.dialog.open(url, {
                            id: "openDialog", title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                                this.iframe.contentWindow.edit();
                                return false;
                            }
                        });


                    }
                }
            });*@
        });


        function getMainTreeSelNodeDetails() {

            var selNode = mainTab.treeGetSelectedNode();

            var parentName = "/";

            if (selNode.getParentNode() != null) {
                parentName = selNode.getParentNode().name;
            }

            var id = selNode.id;
            $.lumos.getJson({
                url: "/Sys/Organization/GetDetails",
                urlParams: { id: id },
                success: function (d) {

                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $("#lbl_PName").text(parentName);
                        $("#txt_Name").val(data.name);
                        $("#txt_Description").val(data.description);
                        $("#sel_Status").find("option[value='" + data.status + "']").attr("selected", true);
                        $("#sel_Status").trigger("chosen:updated");
                    }
                }
            });
        }

        function mainTreeLoadData() {


            $.lumos.getJson({
                url: "/Sys/Organization/GetAll",
                success: function (d) {
                    var data = d.data;
                    $.fn.zTree.init($("#" + mainTree_Id), {
                        edit: {
                            enable: true,
                            showRemoveBtn: false,
                            showRenameBtn: false,
                            drag: {
                                prev: true,
                                next: false,
                                inner: false
                            }
                        },
                        view: {
                            showLine: true,
                            selectedMulti: false
                        },
                        data: {
                            simpleData: { enable: true }
                        },
                        callback: {
                            onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {
                                mainTab.refresh(treeNode.id);
                            },
                            beforeDrag: function (treeId, treeNodes) {
                                for (var i = 0, l = treeNodes.length; i < l; i++) {
                                    dragId = treeNodes[i].pId;
                                    if (treeNodes[i].drag === false) {
                                        return false;
                                    }
                                }

                                return true;
                            },
                            beforeDrop: function (treeId, treeNodes, targetNode, moveType, isCopy) {
                                if (treeNodes[0].level == 0) {
                                    return false;
                                }
                                if (targetNode.pId == dragId) {
                                    return true;
                                } else {
                                    $.lumos.tips('只能进行同级排序！')
                                    return false;
                                }
                            },
                            onDrag: function () {
                                //console.log("拖拽中");
                                return true;
                            },
                            onDrop: function (event, treeId, treeNodes, targetNode, moveType, isCopy) {

                                if (treeNodes[0].pId == dragId && targetNode.pId == dragId) {
                                    var updateNode = getPeerNodes(targetNode);
                                    var dics = [];
                                    for (var i = 0; i < updateNode.length; i++) {
                                        dics.push({ id: updateNode[i].id, priority: i + 1 });
                                    }

                                    $.lumos.postJson({
                                        url: "/Sys/Organization/EditSort",
                                        isUseHandling: false,
                                        data: { dics: dics },
                                        success: function (d) {
                                            $.lumos.parentDialog.refresh(1);
                                        }
                                    });

                                } else {
                                    return false;
                                }
                                return true;
                            }
                        }
                    }, data);
                }
            });

        }

        function refresh(type) {

            switch (type) {
                case 1:
                    mainTreeLoadData();
                    break;
                case 2:
                    //mainTree_RPositions.loadData('c');
                    break;
            }
        }

        var dragId;
        function getPeerNodes(targetNode) {
            if (targetNode == null) {
                return null;
            } else {
                if (targetNode.getParentNode() != null) {
                    return targetNode.getParentNode().children;
                }
                return null;
            }

        }

    </script>
}


<dl class="tree-tab">
    <dd class="tree-tab-left">
        <ul id="maintree" class="ztree"></ul>
    </dd>
    <dd class="tree-tab-right">
        <div class="tab" id="tab_Main">
            <div class="tab-item">
                <ul>
                    <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                    @*<li class="item"><a class="a-btn-info" href="javascript:void(0)">关联职位</a></li>*@
                </ul>
            </div>
            <div class="tab-content">
                <div class="subcontent" style="display:block">
                    <div class="f-btn-area" style="margin-bottom:5px;">
                        <input type="button" class="btn btn-open" id="maintree_add_node" value="新建" />
                        <input type="button" class="btn btn-delete" id="maintree_delete_node" value="删除" />
                    </div>
                    <form name="form1" method="post" id="form1">

                        <table class="f-tb" cellpadding="0" cellspacing="1">
                            <tr>
                                <td class="f-tb-t">
                                    上级名称：
                                </td>
                                <td class="f-tb-c">
                                    <label id="lbl_PName">/</label>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t" style="width:50px">
                                    <span class="required-symbol">*</span>名称：
                                </td>
                                <td class="f-tb-c">
                                    <input type="text" autocomplete="off" value="" id="txt_Name" style="width: 250px;" class="input-control" />
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t">
                                    备注：
                                </td>
                                <td class="f-tb-c">
                                    <textarea rows="5" cols="42" id="txt_Description" class="input-control"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="f-tb-t"></td>
                                <td class="f-tb-c">
                                    <input type="button" value="保存" id="maintree_eidt_node" class="btn btn-sure" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="subcontent">
                    <form id="form2" name="form2">
                        <input type="hidden" name="OrganizationId" />
                        <div class="search-bar">
                            <div class="filter">
                                <span class="filter-label">名称：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" name="UserName" style="width:120px;" />
                                </span>
                            </div>
                            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
                            <div class="filter"><input type="button" class="btn btn-add" id="maintree_add_position" value="添加" /></div>
                        </div>
                        <div class="list">
                            <table id="list_RPosition" class="list-tb" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:5%" class="no">
                                            序号
                                        </th>
                                        <th style="width:90%">
                                            名称
                                        </th>
                                        <th style="width:5%" class="operation">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <div class="pull-left">
                                                <span class="load-tip"></span>
                                            </div>
                                            <div class="pull-right pagination">
                                                <div class="pagination-info">

                                                </div>
                                                <div class="pagination-index">

                                                </div>
                                                <div class="pagination-goto">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dd>
</dl>
