@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomeIframeMainList.cshtml";
}


<script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "/Sys/SmsSend/GetLogs",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.phone + "\"   >" + p_row.phone + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.validCode + "\">" + p_row.validCode + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.createTime + "\">" + p_row.createTime + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.expireTime + "\">" + p_row.expireTime + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.result + "\">" + p_row.result + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.failureReason + "\">" + p_row.failureReason + "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            }
        });
    });




</script>

<form id="form1" name="form1">
    <div class="search-bar">
        <div class="filter">
            <span class="filter-label">手机号码：</span>
            <span class="filter-input">
                <input type="text" class="input-control" name="Phone" style="width:120px;" />
            </span>
        </div>

        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>

    </div>
    <div class="list">
        <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:10%" class="no">
                        序号
                    </th>
                    <th style="width:15%">
                        手机号码
                    </th>
                    <th style="width:15%">
                        验证码
                    </th>
                    <th style="width:15%">
                        发送时间
                    </th>
                    <th style="width:15%">
                        过期时间
                    </th>
                    <th style="width:15%">
                        结果
                    </th>
                    <th style="width:15%">
                        失败原因
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="pull-left">
                            <span class="load-tip"></span>
                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</form>

