@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">

    var listTable;

    $(document).ready(function () {
        listTable = $("#list_table").loadDataTable({
            url: "/Machine/GetList",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {
                var l_Strlimt = "";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >广告</a>")";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >库存</a>")";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >参数</a>")";
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.id + "\"   >" + p_row.id + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.name + "\"   >" + p_row.name + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.storeName + "\">";

                l_StrRows += p_row.storeName;

                if (p_row.isBindStore) {
                    l_StrRows += "<a href=\"javascript:void(0)\" operate=\"bind\" style=\"margin-left:10px;\" >点击解绑</a>";
                }
                else {
                    l_StrRows += "<a href=\"javascript:void(0)\" operate=\"bind\" style=\"margin-left:10px;\">点击绑定</a>";
                }

                l_StrRows += "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.statusName + "\">" + p_row.statusName + "</td>";
                l_StrRows += "<td class=\"operation\">";
                l_StrRows += l_Strlimt;
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate: {
                "edit": function (obj) {

                    if (!obj.isBindStore) {
                        $.lumos.tips("请先绑定店铺");
                        return;
                    }

                    var url = '/Machine/Edit?id=' + obj.id;
                    var title = '设置';
                    art.dialog.open(url, {
                        id: "openDialog", title: title, width: '80%', height: '80%', lock: true, drag: false, cancelVal: '关闭', cancel: true
                    });

                },
                "bind": function (obj) {

                    var okVal = obj.isBindStore == true ? "解绑" : "绑定";
                    var url = '/Machine/Bind?id=' + obj.id;
                    art.dialog.open(url, {
                        id: "openDialog", title: okVal, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: okVal, ok: function () {
                            this.iframe.contentWindow.bind();
                            return false;
                        }
                    });
                }
            }
        });

    });

    function refresh(type) {
        switch (type) {
            case 1:
                listTable.loadData();
                break;
            case 2:
                listTable.loadData('c');
                break;
        }
    }


    </script>
}
<div class="gbr-row gbr-page">
    <form id="form1" name="form1">
        <div class="search-bar">
            <div class="filter">
                <span class="filter-label">设备ID：</span>
                <span class="filter-input">
                    <input type="text" class="input-control" name="MachineId" style="width:120px;" />
                </span>
            </div>
            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
            <div class="filter" style="float:right">

            </div>
        </div>
        <div class="list">
            <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:5%" class="no">
                            序号
                        </th>
                        <th style="width:20%">
                            设备ID
                        </th>
                        <th style="width:20%">
                            名称
                        </th>
                        <th style="width:30%">
                            所属于店铺
                        </th>
                        <th style="width:10%">
                            状态
                        </th>
                        <th style="width:15%" class="operation">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="pull-left">
                                <span class="load-tip"></span>
                            </div>
                            <div class="pull-right pagination">
                                <div class="pagination-info">

                                </div>
                                <div class="pagination-index">

                                </div>
                                <div class="pagination-goto">

                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>


</div>
