@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var id = $.lumos.getUrlParamValue("id");
        var list_machine;
        $(this).ready(function () {
            $('input[name=MerchantId]').val(id);
            $.formValidator.initConfig({ formID: "form_merchant", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Password").formValidator().regexValidator({ regExp: regexEnum.password, onError: "密码由6到20个数字、英文字母或下划线组成" });
            $("#txt_Password").attr("disabled", true).unFormValidator(true);
            $("#txt_ContactName").formValidator().inputValidator({ min: 1, max: 100, onError: "联系人不能为空，且不超过100个字符" });
            $("#txt_ContactPhone").formValidator().inputValidator({ min: 1, max: 100, onError: "联系电话不能为空，且不超过100个字符" });

            $("#abtn-editPwd").toggle(function () {
                $("#lbl_Password").hide();
                $("#txt_Password").show();
                $("#txt_Password").attr("disabled", false).unFormValidator(false);
                $(this).text("取消");
            }, function () {
                $("#lbl_Password").show();
                $("#txt_Password").hide();
                $("#txt_Password").val("");
                $("#txt_Password").attr("disabled", true).unFormValidator(true);
                $(this).text("修改");
            });


            list_machine = $("#list_machine").loadDataTable({
                url: "/Biz/Merchant/GetMachineList",
                pageIndex: 0,
                searchParams: $("#form_machine").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form_machine",
                rowDataCombie: function (p_index, p_row) {
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.id + "\"   >" + p_row.id + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.machineName + "\"   >" + p_row.machineName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.macAddress + "\">" + p_row.macAddress + "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                }
            });


            $("#btn_edit").click(function () {
                edit();
            });

            initData();
        });

        function initData() {
            getDetails();
        }

        function edit() {

            var password = $(".txt_Password").val();

            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return;

            if (password != "") {
                var isFlag = password.match(regexEnum.password);
                if (isFlag == null) {
                    $.lumos.tips('密码由6到20个数字、英文字母或下划线组成');
                    return;
                }
            }

            art.dialog.confirm('确定要保存？', function () {

                var contactName = $("#txt_ContactName").val();
                var contactPhone = $("#txt_ContactPhone").val();
                var contactAddress = $("#txt_ContactAddress").val();
                $.lumos.postJson({
                    url: "/Biz/Merchant/Edit",
                    data: { id: id, password: password, contactName: contactName, contactPhone: contactPhone, contactAddress: contactAddress },
                    success: function (d) {
                        $.lumos.tips(d.message);
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(2);
                        }
                    }
                });
            });
            return;
        }

        function getDetails() {

            $.lumos.getJson({
                url: "/Biz/Merchant/GetDetails",
                urlParams: { id: id },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $('#lbl_UserName').text(data.userName);
                        $('#lbl_SimpleCode').text(data.simpleCode)
                        $('#lbl_Name').text(data.name);
                        $("#txt_ContactName").val(data.contactName);
                        $("#txt_ContactPhone").val(data.contactPhone);
                        $("#txt_ContactAddress").val(data.contactAddress);
                    }
                }
            });
        }

        function refresh(type) {
            switch (type) {
                case 1:
                    list_machine.loadData(0);
                    break;
            }
        }

        //-->
    </script>
}


<div class="gbr-row gbr-dialog">
    <div class="tab" id="tab1">
        <div class="tab-item">
            <ul>
                <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                <li class="item"><a class="a-btn-info" href="javascript:void(0)">机器信息</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="subcontent">
                <form id="form_merchant">
                    <div class="gbr-row-title clearfix">
                        <div class="pull-left">
                            <h5>账号信息</h5>
                        </div>
                        <div class="pull-right f-tb1-item-pull-right">
                            <h6></h6>
                        </div>
                    </div>

                    <table class="f-tb" cellpadding="0" cellspacing="1">
                        <tr>
                            <td class="f-tb-t">
                                账号：
                            </td>
                            <td class="f-tb-c">
                                <span id="lbl_UserName"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                <span class="required-symbol">*</span>密码：
                            </td>
                            <td class="f-tb-c">
                                <label id="lbl_Password">******</label>
                                <input class="input-control txt_Password" autocomplete="off" type="password"  style="width: 150px;display:none;" />
                                <a class="a-btn" id="abtn-editPwd" href="javascript:void(0)">修改</a>
                            </td>
                        </tr>
                    </table>
                    <div class="gbr-row-title clearfix">
                        <div class="pull-left">
                            <h5>商户信息</h5>
                        </div>
                        <div class="pull-right f-tb1-item-pull-right">
                            <h6></h6>
                        </div>
                    </div>

                    <table class="f-tb" cellpadding="0" cellspacing="1" style="width:100%">
                        <tr>
                            <td class="f-tb-t">
                                商户代码：
                            </td>
                            <td class="f-tb-c">
                                <span id="lbl_SimpleCode"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                商户名称：
                            </td>
                            <td class="f-tb-c">
                                <span id="lbl_Name"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                <span class="required-symbol">*</span>联系人：
                            </td>
                            <td class="f-tb-c">
                                <input class="input-control" type="text" id="txt_ContactName" style="width: 150px;" value="" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                <span class="required-symbol">*</span>联系电话：
                            </td>
                            <td class="f-tb-c">
                                <input class="input-control" type="text" id="txt_ContactPhone" style="width: 150px;" value="" autocomplete="off" />
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                联系地址：
                            </td>
                            <td class="f-tb-c">
                                <input class="input-control" type="text" id="txt_ContactAddress" style="width: 400px;" value="" autocomplete="off" />
                            </td>
                        </tr>
                        <tr style="display:none">
                            <td class="f-tb-t"></td>
                            <td class="f-tb-c">
                                <input type="button" id="btn_edit" value="保存" class="btn btn-sure" />
                            </td>
                        </tr>
                    </table>

                </form>
            </div>
            <div class="subcontent">

                <form id="form_machine" name="form_machine">
                    <input id="MerchantId" name="MerchantId" type="hidden" value="" />
                    <div class="search-bar">
                        <div class="filter">
                            <span class="filter-label">名称：</span>
                            <span class="filter-input">
                                <input type="text" class="input-control" name="Name" style="width:120px;" />
                            </span>
                        </div>
                        <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
                    </div>
                    <div class="list">
                        <table id="list_machine" class="list-tb" cellpadding="0" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="width:5%" class="no">
                                        序号
                                    </th>
                                    <th style="width:30%">
                                        设备ID
                                    </th>
                                    <th style="width:30%">
                                        名称
                                    </th>
                                    <th style="width:25%">
                                        Mac地址
                                    </th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <div class="pull-left">
                                            <span class="load-tip"></span>
                                        </div>
                                        <div class="pull-right pagination">
                                            <div class="pagination-info">

                                            </div>
                                            <div class="pagination-index">

                                            </div>
                                            <div class="pagination-goto">

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




