@{
    ViewBag.Title = "RoleUserSel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    var listTable;
    var merchantId = $.lumos.getUrlParamValue("merchantId");
    $(document).ready(function () {


        listTable = $("#list_table").loadDataTable({
            url: "/Biz/Merchant/GetMachineListByBindable",
            pageIndex: 0,
            searchParams: $("#form1").serializeArray(),
            searchButtonId: "btn_Search",
            containerId: "form1",
            rowDataCombie: function (p_index, p_row) {
                var l_Strlimt = "";
                l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"bindon\\\"  class=\\\"a-btn\\\" >绑定</a>")";
                var l_StrRows = "";
                l_StrRows += "<tr>";
                l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.deviceId + "\"   >" + p_row.deviceId + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.name + "\"   >" + p_row.name + "</td>";
                l_StrRows += "<td class=\"overflow\" title=\"" + p_row.macAddress + "\">" + p_row.macAddress + "</td>";
                l_StrRows += "<td class=\"operation\">";
                l_StrRows += l_Strlimt;
                l_StrRows += "</td>";
                l_StrRows += "</tr>";
                return l_StrRows;
            },
            operate:
                {
                    "bindon": function (obj) {

                        art.dialog.confirm("确定要绑定？", function () {
                            $.lumos.postJson({
                                isUseHandling: true,
                                url: "/Biz/Merchant/BindOnMachine",
                                data: { merchantId: merchantId, machineId: obj.id },
                                success: function (d) {
                                    if (d.result == $.lumos.resultType.success) {
                                        $.lumos.parentDialog.refresh(1);
                                        $.lumos.tips(d.message, true);
                                    }
                                    else {
                                        $.lumos.tips(d.message);
                                    }
                                }
                            });
                        });

                    }
                }
        });

    });
</script>


<div class="gbr-row gbr-dialog">
    <form id="form1" name="form1">
        <input type="hidden" name="StoreId" id="txt_StoreId" />
        <div class="search-bar">
            <div class="filter">
                <span class="filter-label">设备ID：</span>
                <span class="filter-input">
                    <input type="text" class="input-control" name="DeviceId" style="width:120px;" />
                </span>
            </div>
            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>
        </div>
        <div class="list">
            <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                        <th style="width:5%" class="no">
                            序号
                        </th>
                        <th style="width:30%">
                            设备ID
                        </th>
                        <th style="width:30%">
                            名称
                        </th>
                        <th style="width:25%">
                            Mac地址
                        </th>
                        <th style="width:10%" class="operation">
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <div class="pull-left">

                            </div>
                            <div class="pull-right pagination">
                                <div class="pagination-info">

                                </div>
                                <div class="pagination-index">

                                </div>
                                <div class="pagination-goto">

                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>

</div>
