@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var num = 0;
        var maxMum = 2;

        var mainTree_Id = "maintree";
        var mainTree_RproductSkus;
        var mainTab;
        $(this).ready(function () {

            mainTab = $("#tab_Main").tab({
                treeId: mainTree_Id,
                click: function (index, key) {
                    switch (index) {
                        case 0:
                            getMainTreeSelNodeDetails();
                            break;
                        case 1:
                            mainTree_RproductSkus.loadData();
                            break;
                    }


                    return true;
                }
            });

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
            $("#txt_Name").formValidator().inputValidator({ min: 1, max: 20, onError: "名称须填，且不能超过20个字符" });
            $("#txt_MainImg").formValidator().inputValidator({ min: 1, max: 500, onError: "请上传封面" });
            $("#txt_IconImg").formValidator().inputValidator({ min: 1, max: 500, onError: "请上传小图标" });
            $("#sel_Status").formValidator().inputValidator({ min: 1, max: 500, onError: "请选择状态" });
            $("#txt_Description").formValidator().inputValidator({ min: 0, max: 500, onError: "备注不能超过500个字符" });

            $("#maintree_add_node").click(function () {
                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }
                var url = '/ProductKind/Add?pId=' + selNode.id + '&pName=' + escape(selNode.name);
                var title = '新建';
                art.dialog.open(url, {
                    id: "openDialog", title: title, width: '650px', height: '450px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '确定', ok: function () {
                        this.iframe.contentWindow.add();
                        return false;
                    }
                });

            });

            $("#maintree_delete_node").click(function () {
                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }
                art.dialog.confirm(
                    "确定删除[" + selNode.name + "]节点及其子节点吗？",
                         function () {
                             var id = selNode.id;
                             $.lumos.postJson({
                                 url: "/ProductKind/Delete",
                                 data: { id: id },
                                 success: function (d) {
                                     $.lumos.tips(d.message);
                                     if (d.result == $.lumos.resultType.success) {
                                         mainTreeLoadData();
                                     }
                                 }
                             });

                             return true;
                         });


                return false;
            });

            $("#maintree_eidt_node").click(function () {

                var selNode = mainTab.treeGetSelectedNode();
                if (selNode == null) {
                    $.lumos.tips("请在左边树形结构选中节点信息");
                    return;
                }

                var isValid = $.formValidator.pageIsValid();
                if (!isValid)
                    return false;

                art.dialog.confirm('确定要保存？', function () {
                    var id = selNode.id;
                    var name = $('#txt_Name').val();
                    var mainImg = $("#txt_MainImg").val();
                    var iconImg = $("#txt_IconImg").val();
                    var description = $("#txt_Description").val();
                    var status = $("#sel_Status").val();
                    $.lumos.postJson({
                        url: "/ProductKind/Edit",
                        data: { id: id, name: name, mainImg: mainImg, iconImg: iconImg, description: description, status: status },
                        isUseHandling: true,
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                mainTreeLoadData(id);
                            }
                        }
                    });
                });

                return false;

            });

            mainTree_RproductSkus = $("#list_table_product").loadDataTable({
                url: "/ProductKind/GetProductSkuList",
                pageIndex: 0,
                searchParams: $("#form2").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form2",
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"edit\\\"   class=\\\"a-btn a-btn-edit\\\"  >修改</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow \" ><div> <img src=\"" + p_row.mainImg + "\" style=\"width:50px;height:50px\"><div></td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.name + "\">" + p_row.name + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.kindNames + "\">" + p_row.kindNames + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "edit": function (obj) {

                        var url = '/ProductSku/Edit?id=' + obj.id;
                        var title = '修改';
                        var dialog = art.dialog.open(url, {
                            id: "openDialog", title: title, width: '800px', height: '600px', lock: true, drag: false, cancelVal: '关闭', cancel: true, okVal: '保存', ok: function () {
                                this.iframe.contentWindow.edit();
                                return false;
                            }
                        });

                    }
                }
            });

            mainTreeLoadData();
        });


        function getChildNodeGrade(treeNode) {
            var p = treeNode.getParentNode();
            if (p != null) {
                num += 1;
                getChildNodeGrade(p);
            }
        }

        function getMainTreeSelNodeDetails() {

            var selNode = mainTab.treeGetSelectedNode();

            /*最大支持几级菜单由maxMum决定 可修改这个值*/
            num = 0;
            getChildNodeGrade(selNode);
            if (num == 0) {
                $('#maintree_delete_node').attr("disabled", "disabled");
                $('#maintree_add_node').removeAttr("disabled");
            }
            else if (num >= maxMum) {
                $('#maintree_add_node').attr("disabled", "disabled");
                $('#maintree_delete_node').removeAttr("disabled");
            }
            else {
                $('#maintree_delete_node').removeAttr("disabled");
                $('#maintree_add_node').removeAttr("disabled");
            }


            var id = selNode.id;
            $.lumos.getJson({
                url: "/ProductKind/GetDetails",
                urlParams: { id: id },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;
                        $("#txt_Name").val(data.name);
                        $("#txt_Description").val(data.description);
                        $("#txt_MainImg").val(data.mainImg);
                        $("#txt_IconImg").val(data.iconImg);

                        $("#sel_Status").find("option[value='" + data.status + "']").attr("selected", true);
                        $("#sel_Status").trigger("chosen:updated");
                        $("#img_MainImg").attr("src", data.mainImg);
                        $("#img_IconImg").attr("src", data.iconImg);
                    }
                }
            });
        }

        function mainTreeLoadData() {

            $.lumos.getJson({
                url: "/ProductKind/GetAll",
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {

                        var data = d.data;
                        $.fn.zTree.init($("#" + mainTree_Id), {
                            view: {
                                showLine: true,
                                selectedMulti: false
                            },
                            data: {
                                simpleData: { enable: true }
                            },
                            callback: {
                                onClick: function treeNodeOnClick(event, treeId, treeNode, clickFlag) {
                                    mainTab.refresh(treeNode.id);
                                }
                            }
                        }, data);
                    }
                }
            });

        }

        function refresh(type) {

            switch (type) {
                case 1:
                    mainTreeLoadData()
                    break;
                case 2:
                    break;
            }
        }
        //-->
    </script>
}


<dl class="tree-tab">
    <dd class="tree-tab-left">
        <ul id="maintree" class="ztree"></ul>
    </dd>
    <dd class="tree-tab-right">
        <div class="tab" id="tab_Main">
            <div class="tab-item">
                <ul>
                    <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">基本信息</a></li>
                    <li class="item"><a class="a-btn-info" href="javascript:void(0)">关联商品</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="subcontent" style="display:block">
                    <div class="f-btn-area" style="margin-bottom:5px;">
                        <input type="button" class="btn btn-open" id="maintree_add_node" value="新建" />
                        <input type="button" class="btn btn-delete" id="maintree_delete_node" value="删除" />
                    </div>
                    <table class="f-tb" cellpadding="0" cellspacing="1">
                        <tr>
                            <td class="f-tb-t" style="width:80px">
                                <span class="required-symbol">*</span>上级名称：
                            </td>
                            <td class="f-tb-c">
                                <label id="lbl_PName">/</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t" style="width:50px">
                                <span class="required-symbol">*</span>名称：
                            </td>
                            <td class="f-tb-c">
                                <input type="text" autocomplete="off" value="" id="txt_Name" style="width: 250px;" class="input-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                图片：
                            </td>
                            <td class="f-tb-c">

                                <table class="f-tb1-detail" style="text-align:center;width:auto">
                                    <tr style="vertical-align:top">
                                        <td>
                                            <div>
                                                <span class="uploadimgbox" upload="true">
                                                    <span class="uploadimg" inputname="txt_MainImg" path="productkind">
                                                        <img id="img_MainImg" src="~/Static/default1.jpg" />
                                                        <span class="uploadimg-click" style="">上传</span>
                                                        <input id="txt_MainImg" value="" name="txt_MainImg" type="hidden" />
                                                    </span>
                                                    <span class="uploadimg-view" style="">预览</span>
                                                </span>
                                            </div>
                                            <div>
                                                <span><span class="required-symbol">*</span>封面</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <span class="uploadimgbox" upload="true">
                                                    <span class="uploadimg" inputname="txt_IconImg" path="productkind">
                                                        <img id="img_IconImg" src="~/Static/default1.jpg" />
                                                        <span class="uploadimg-click" style="">上传</span>
                                                        <input id="txt_IconImg" value="" name="txt_IconImg" type="hidden" />
                                                    </span>
                                                    <span class="uploadimg-view" style="">预览</span>
                                                </span>
                                            </div>
                                            <div>
                                                <span><span class="required-symbol">*</span>小图标</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t" style="width:50px;">
                                <span class="required-symbol">*</span>状态：
                            </td>
                            <td class="f-tb-c">
                                @(Html.initEnumeration<Lumos.Entity.Enumeration.ProductKindStatus>(Lumos.Entity.Enumeration.InputType.Select, "sel.Status", new { @class = "select-control", defaulttext = "请选择", hidevalue = new Lumos.Entity.Enumeration.ProductKindStatus[] { Lumos.Entity.Enumeration.ProductKindStatus.Unknow } }))
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t">
                                备注：
                            </td>
                            <td class="f-tb-c">
                                <textarea name="Model.ProductKind.Description" rows="5" cols="42" id="Model_ProductKind_Description" class="input-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="f-tb-t"></td>
                            <td class="f-tb-c">
                                <input type="button" onclick="eidt()" name="btn_Save" value="保存" id="maintree_eidt_node" class="btn btn-sure" />
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="subcontent">
                    <form id="form2" name="form2">
                        <input type="hidden" name="KindId" value="" />
                        <div class="search-bar">
                            <div class="filter">
                                <span class="filter-label">商品名称：</span>
                                <span class="filter-input">
                                    <input type="text" class="input-control" name="Name" style="width:120px;" />
                                </span>
                            </div>
                            <div class="filter"><input type="button" class="btn btn-search" id="btn_Search" value="查询" /> </div>

                            <div class="filter" style="float:right">  </div>
                        </div>
                        <div class="list">
                            <table id="list_table_product" class="list-tb" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th style="width:10%" class="no">
                                            序号
                                        </th>
                                        <th style="width:20%">
                                            图片
                                        </th>
                                        <th style="width:30%">
                                            名称
                                        </th>
                                        <th style="width:30%">
                                            模块
                                        </th>
                                        <th style="width:10%" class="operation">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">
                                            <div class="pull-left">
                                                <span class="load-tip"></span>
                                            </div>
                                            <div class="pull-right pagination">
                                                <div class="pagination-info">

                                                </div>
                                                <div class="pagination-index">

                                                </div>
                                                <div class="pagination-goto">

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </dd>
</dl>
<div class="help-tips">提示：最大支持三级节点</div>