@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">
        var id = $.lumos.getUrlParamValue("id");
        var belongSite = $.lumos.getUrlParamValue("belongSite");
        var tree_Roles;
        $(this).ready(function () {

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { $.lumos.tips(msg); } });
           
            $("#txt_Description").formValidator().inputValidator({ min: 0, max: 500, onError: "描述不能超过500个字符" });

            initData();

        });

        function initData() {
            loadRoles();
            getDetails();
        }

        function loadRoles() {
            $.lumos.getJson({
                url: "/Sys/Role/GetAll",
                urlParams: { belongSite: belongSite },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var roles = d.data;
                        tree_Roles = $.fn.zTree.init($("#tree_Roles"), {
                            view: {
                                selectedMulti: false
                            },
                            check: {
                                enable: true,
                                chkboxType: { "Y": "s", "N": "s" }
                            },
                            data: {
                                simpleData: {
                                    enable: true
                                }
                            }
                        }, roles);
                    }
                }
            });
        }

        function getDetails() {
         
            $.lumos.getJson({
                url: "/Sys/Position/GetDetails",
                urlParams: { id: id },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var data = d.data;


                        $('#lbl_Name').text(data.name);

                        if (data.roleIds != null) {
                            if (data.roleIds.length > 0) {
                                $.each(data.roleIds, function (i, n) {
                                    var node = tree_Roles.getNodeByParam("id", n);
                                    tree_Roles.checkNode(node);
                                });
                            }
                        }
                    }
                }
            });
        }

        function edit() {

            var isValid = $.formValidator.pageIsValid();
            if (!isValid)
                return false;

            art.dialog.confirm('确定要保存？', function () {

                var tree_RolesByChecked = tree_Roles.getCheckedNodes(true);
                var roleIds = [];
                $.each(tree_RolesByChecked, function (i, n) {
                    roleIds.push(n.id);
                });

                var description = $("#txt_Description").val();

                $.lumos.postJson({
                    url: "/Sys/Position/Edit",
                    isUseHandling: true,
                    data: { id: id, description: description,roleIds: roleIds },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(2);
                            $.lumos.tips(d.message);
                        }
                        else {
                            $.lumos.tips(d.message);
                        }
                    }
                });
            });

            return false;
        }
    </script>
}

<div class="gbr-row gbr-dialog">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1">
        <tr>
            <td class="f-tb-t">
                名称：
            </td>
            <td class="f-tb-c">
                <label id="lbl_Name"></label>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                备注：
            </td>
            <td class="f-tb-c">
                <textarea rows="5" cols="46" id="txt_Description" class="input-control"></textarea>
            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                角色：
            </td>
            <td class="f-tb-c">
                <ul id="tree_Roles" class="ztree"></ul>
            </td>
        </tr>
        <tr style="display:none">
            <td class="f-tb-t"></td>
            <td class="f-tb-c">
                <input type="submit" name="btn_Submit" id="btn_Submit" value="保存" class="btn btn-save" />
                <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
            </td>
        </tr>
    </table>

</div>






