@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $.lumos.getJson({
                url: "/Home/GetIndexData",
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        $('#gbr_page').html($("#tmpl_block").tmpl(d.data));
                    }
                }
            });

            $("ul.btn-dropdownmenu > .parent").live("mouseenter", function (e) {
                var _this = $(this);
                var children = $(_this).find('.children');
                var display = $(children).css('display');

                if (display == "none") {
                    $(children).show();
                    $(_this).addClass('open');
                }
                else {
                    $(children).hide();
                    $(_this).removeClass('open');
                }

                $(_this).mouseleave(function () {
                    $(children).hide();
                    $(_this).removeClass('open');
                });

            });

            $('a[gotopage]').live("click", function () {

                var target = $(this).attr("target");
                var gotopage = $(this).attr("gotopage");


                $('a[gotopage]').parent().removeClass('active');
                $(this).parent().addClass('active');

                window.frames[target].document.location = gotopage;
            });

            $('#btn_LoginOut').live("click", function () {

                art.dialog.confirm('确定要退出？', function () {
                    $.lumos.postJson({
                        url: "/Home/LogOff",
                        success: function (d) {
                            $.lumos.tips(d.message);
                            if (d.result == $.lumos.resultType.success) {
                                window.location.href = d.data.url;
                            }
                        }
                    });
                });

                return false;
            });

            setInterval("reinitIframe()", 200);
        });

        function reinitIframe() {
            var iframe = document.getElementById("iframeMain");
            try {
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);

                var heightss = $(iframe).contents().find("body").height()
                var height = Math.max(bHeight, dHeight);

                iframe.height = heightss;
            } catch (ex) { }
        }


    </script>
}

<script id="tmpl_block" type="text/x-jquery-tmpl">
    <div class="gbr gbr-header" id="gbr_header">
        <div class="wrapper">
            <div class="content clearfix">
                <ul class="content-left">
                    <li>
                        <span class="title">${title}</span>
                    </li>
                </ul>
                <ul class="content-right btn-dropdownmenu">
                    {{if isLogin}}
                    <li>
                        <a href="/home/main" target="iframeMain">
                            <span class="title">
                                主界面
                            </span>
                        </a>
                    </li>
                    <li class="parent">
                        <a href="javascript:void(0)" class="directory">
                            <span class="title">
                                欢迎您,${userName}
                            </span>
                            <span class="more"></span>
                        </a>
                        <ul class="children">
                            <li><a href="/Home/ChangePassword" target="iframeMain">修改密码</a></li>
                            <li>
                                <a id="btn_LoginOut" href="javascript:void(0)">退出</a>
                            </li>
                        </ul>
                    </li>
                    {{/if}}
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gbr gbr-main" id="gbr_main">
        <div class="wrapper">
            <div class="content clearfix" id="gbr_main_content">
                <dl>
                    <dd class="content-left">
                        <ul class="navmenu-left">
                            {{if isLogin}}
                            {{each(j,item1) menuNavByLeft}}
                            <li class="parent">
                                <span><span class="icon icon_navmenu_level1_common"></span><span>${item1.name}</span></span>
                                <ul class="children">
                                    {{each(i,item2) item1.subMenus}}
                                    <li>
                                        <a gotopage="${item2.url}" target="iframeMain">
                                            <span class="icon"></span><span>${item2.name}</span>
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                            {{/if}}
                        </ul>
                    </dd>
                    <dd class="content-right">
                        <div class="gbr-row gbr-row-breadcrumb">
                            <ul class="breadcrumb">
                                <li><a target="iframeMain" href="/home/main" class="root">&nbsp;</a></li>
                                <li><span class="site">主界面</span></li>
                            </ul>
                        </div>
                        <div class="gbr-row gbr-row-functionpage">
                            <iframe src="/home/Main" id="iframeMain" name="iframeMain" style="width:100%;" frameBorder="0px" scrolling="no"></iframe>
                        </div>
                    </dd>
                    <div class="clear"></div>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</script>

<div class="gbr-row" id="gbr_page">

</div>
