@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $("ul.btn-dropdownmenu > .parent").on("mouseenter", function (e) {
                var _this = $(this);

                var children = $(_this).find('.children');
                var display = $(children).css('display');

                if (display == "none") {
                    $(children).show();
                    $(_this).addClass('open');
                }
                else {
                    $(children).hide();
                    $(_this).removeClass('open');
                }

                $(_this).mouseleave(function () {
                    $(children).hide();
                    $(_this).removeClass('open');
                });

            });

            $('a[gotopage]').on("click", function () {
                var target = $(this).attr("target");
                var gotopage = $(this).attr("gotopage");


                $('a[gotopage]').parent().removeClass('active');
                $(this).parent().addClass('active');




                window.frames[target].document.location = gotopage;
            });

            setInterval("reinitIframe()", 200);
        });

        function reinitIframe() {
            var iframe = document.getElementById("iframeMain");
            try {
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);

                var heightss = $(iframe).contents().find("body").height()
                var height = Math.max(bHeight, dHeight);

                iframe.height = heightss;
            } catch (ex) { }
        }

    </script>
}

<div class="gb" id="gb">
    <div class="gbr gbr-header" id="gbr_header">
        <div class="wrapper">
            <div class="content clearfix">
                <ul class="content-left">
                    <li>
                        <span class="title">@OwnWebSettingUtils.GetWebName()</span>
                    </li>
                </ul>
                <ul class="content-right btn-dropdownmenu">

                    @if (OwnRequest.IsLogin())
                        {
                        <li>
                            <a href="/home/main" target="iframeMain">
                                <span class="title">
                                    主界面
                                </span>
                            </a>
                        </li>
                        <li class="parent">
                            <a href="javascript:void(0)" class="directory">
                                <span class="title">
                                    欢迎您,@OwnRequest.GetUserNameWithSymbol()
                                </span>
                                <span class="more"></span>
                            </a>
                            <ul class="children">
                                <li><a href="/Home/ChangePassword" target="iframeMain">修改密码</a></li>
                                <li>
                                    @using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                        {

                                        }
                                    <a href="javascript:document.getElementById('logoutForm').submit()">退出</a>
                                </li>
                            </ul>
                        </li>
                        }
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="gbr gbr-main" id="gbr_main">
        <div class="wrapper">
            <div class="content clearfix" id="gbr_main_content">
                <dl>
                    <dd class="content-left">
                        <ul class="navmenu-left">
                            @if (OwnRequest.IsLogin())
                                {
                                    string pId = "00000000000000000000000000000001";
                                    var menus = OwnRequest.GetMenus();
                                    var menuLevel1 = from c in menus where c.PId == pId select c;
                                    foreach (var menuLevel1Child in menuLevel1)
                                    {
                                <li class="parent">
                                    <span><span class="icon icon_navmenu_level1_common"></span><span>@menuLevel1Child.Name</span></span>
                                    <ul class="children">
                                        @{
                                                    var menuLevel2 = from c in menus where c.PId == menuLevel1Child.Id select c;
                                                    if (menuLevel2 != null)
                                                    {
                                                        foreach (var menuLevel2Child in menuLevel2)
                                                        {
                                                <li>
                                                    <a gotopage="@menuLevel2Child.Url" target="iframeMain">
                                                        <span class="icon"></span><span>@menuLevel2Child.Name</span>
                                                    </a>
                                                </li>
                                                        }
                                                    }
                                        }

                                    </ul>
                                </li>
                                                        }
                                                    }
                        </ul>
                    </dd>
                    <dd class="content-right">
                        <div class="gbr-row gbr-row-breadcrumb">
                            <ul class="breadcrumb">
                                <li><a target="iframeMain" href="/home/main" class="root">&nbsp;</a></li>
                                <li><span class="site">主界面</span></li>
                            </ul>
                        </div>
                        <div class="gbr-row gbr-row-functionpage">
                            <iframe src="/home/Main" id="iframeMain" name="iframeMain" style="width:100%;" frameBorder="0px" scrolling="no"></iframe>
                        </div>
                    </dd>
                    <div class="clear"></div>
                </dl>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
