@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "授权登录机器";
}

@section styles{

}

<script id="tmpl_block" type="text/x-jquery-tmpl">
    {{each(i,item) block}}
    <div class="ct pd-com">
        <div class="its-a">
            <div class="it">
                <div class="it-l" style="width:auto;">
                    <text class="txt-h1">${item.deliveryAddress.consignee}</text>
                    {{if(item.deliveryAddress.isDefault)}}
                    <text class="txt-h2 isDefault">默认</text>
                    {{/if}}
                </div>
                <div class="it-m">
                    <div class="it-ml">
                        <text class='txt-h1 bold'>${item.deliveryAddress.phoneNumber}</text>
                        <text class='txt-h2'>${item.deliveryAddress.area} ${item.deliveryAddress.address}</text>
                    </div>
                </div>
                {{if item.deliveryAddress.canSelectElse}}
                <div class='it-r'>
                    <div class='icon'>
                        <img class="img-nav-right" src='/Content/Default/images/col_nav_right.png' />
                    </div>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="its-odcskus">
            {{each(j,skusitem) item.skus}}
            <div class="it">
                <div class="it-l">
                    <div class="imgUrl">
                        <image class="img" src="${skusitem.imgUrl}"></image>
                    </div>
                </div>
                <div class="it-m">
                    <div class="it-ml">
                        <text class='name'>${skusitem.name}</text>
                    </div>
                    <div class="it-mr">
                        <text class='quantity'> x ${skusitem.quantity}</text>
                    </div>
                </div>
                <div class="it-r">
                    <text class='salePrice'> ${skusitem.salePrice}</text>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
    <div class="line-space"></div>
    {{/each}}
</script>
<div id="ord-block">

</div>
<div id="btn_Login" class="btn-bottom">
    登录
</div>

<script type="text/javascript">

    var orderId = "@Request.QueryString["orderId"]";
    $(document).ready(function () {

        $.lumos.postJson({
            url: "/Order/Confirm",
            isShowLoading: true,
            data: { source: "machine", orderId: orderId },
            success: function (d) {
                if (d.result == $.lumos.resultType.success) {
                    $("#tmpl_block").tmpl(d.data).appendTo('#ord-block');
                }
            }
        });

        $("#btn_UnifiedOrder").on("click", function () {
            var _this = $(this);
            $(_this).attr("disabled", "disabled");
            var payWay = "";
            if (/MicroMessenger/.test(window.navigator.userAgent)) {
                payWay = 1;
            } else if (/AlipayClient/.test(window.navigator.userAgent)) {
                payWay = 2;
            }
            $.lumos.postJson({
                url: "/Order/UnifiedOrder",
                isShowLoading: true,
                data: { payWay: payWay, orderId: orderId },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        var params = d.data;
                        if (payWay == 1) {
                            wx.chooseWXPay({
                                appId: params.appId,
                                timestamp: params.timestamp,
                                nonceStr: params.nonceStr,
                                package: params.package,
                                signType: params.signType,
                                paySign: params.paySign,
                                success: function (res) {
                                    $.lumos.tips('您已支付成功');
                                },
                                cancel: function (res) {
                                    $.lumos.tips('您已取消支付');
                                }
                            });
                        }
                    } else {
                        $.lumos.tips(d.message);
                        $(_this).removeAttr("disabled");
                    }
                }
            });

        });
    });

</script>

