@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "授权登录机器";
}

@section styles{

}

<div id="operate_result" class="operate-result">
    <div class="it-result">
        <div class="imgbox">
            <img class="img" src="~/Content/default/images/operate_result_ic_1.png" />
        </div>
    </div>
    <div class="it-message">
        <span class="txt">登录成功</span>
    </div>
</div>

<div id="btn_Login" class="btn-bottom">
    登录
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $("#btn_Login").on("click", function () {
            $.lumos.postJson({
                url: "/Machine/LoginByQrCode",
                isShowLoading: true,
                data: { token: $.lumos.getUrlParamValue("token"), merchantId: $.lumos.getUrlParamValue("merchantId"), storeId: $.lumos.getUrlParamValue("storeId"), machineId: $.lumos.getUrlParamValue("machineId") },
                success: function (d) {

                    $.lumos.tips(d.message);

                    if (d.result == $.lumos.resultType.success) {

                    }
                }
            });

        });
    });

</script>
