@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "授权登录机器";
}

@section styles{

}


<script id="operate_result_tmpl" type="text/x-jquery-tmpl">
    <div class="it-result">
        <div class="imgbox">
            <img class="img" src="/Content/default/images/operate_result_ic_${result}.png" />
        </div>
    </div>
    <div class="it-message">
        <span class="txt">${message}</span>
    </div>
    <div class="it-btns">
        {{each(j,btn) buttons}}
        <div class="btnbox">
            <a href="${btn.url}" class="btn" style="color:${btn.color}; border:1px solid ${btn.color} ;">${btn.name}</a>
        </div>
        {{/each}}
    </div>
    <div class="it-remarks">
        <p class="txt">${remarks}</p>
    </div>
    <div class="its-a">
        {{each(j,field) fields}}

        <div class="it">

            <div class="it-m">
                <div class="it-ml w100">
                    <text class='txt'>${field.name}</text>
                </div>
                <div class="it-mr flex1">
                    <text class='txt'>${field.value}</text>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</script>

<script id="tmpl_page" type="text/x-jquery-tmpl">


    <div id="btn_Login" class="btn-bottom">
        登录
    </div>

</script>

<script type="text/javascript">

    var merchantId = $.lumos.getUrlParamValue("merchantId");
    var storeId = $.lumos.getUrlParamValue("storeId");
    var machineId = $.lumos.getUrlParamValue("machineId");

    $(document).ready(function () {

        $.lumos.getJson({
            url: "/Machine/GetInfoByLoginBefore",
            isShowLoading: true,
            data: { merchantId: merchantId, storeId: storeId, machineId: machineId },
            success: function (d) {
                if (d.result == $.lumos.resultType.success) {
                    $("#tmpl_page").tmpl(d.data).appendTo('body');
                }
            }
        });

        $("#btn_Login").on("click", function () {
            $.lumos.postJson({
                url: "/Machine/LoginByQrCode",
                isShowLoading: true,
                data: { token: $.lumos.getUrlParamValue("token"), merchantId: merchantId, storeId: storeId, machineId: machineId },
                success: function (d) {

                    $.lumos.tips(d.message);

                    if (d.result == $.lumos.resultType.success) {
                        $('#tmpl_operate_result').tmpl(d.data).appendTo('body');
                    }
                }
            });

        });
    });

</script>
