@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "授权登录机器";
}

@section styles{

}

<script id="tmpl_operate_result" type="text/x-jquery-tmpl">

    <div class="it-result">
        <div class="imgbox">
            <img class="img" src="/Content/default/images/operate_result_ic_${result}.png" />
        </div>
    </div>
    <div class="it-message">
        <span class="txt">${message}</span>
    </div>
    <div class="its-a">
        {{each(j,field) fields}}

        <div class="it">

            <div class="it-m">
                <div class="it-ml w100">
                    <text class='txt'>${field.name}</text>
                </div>
                <div class="it-mr flex1">
                    <text class='txt'>${field.value}</text>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
    <div class="it-btns-v">
        {{each(j,btn) buttons}}
        <div class="btnbox">
            <div class="btn operate" operate="${btn.operate}">${btn.name}</div>
        </div>
        {{/each}}
    </div>

</script>

<div id="operate_result" class="operate-result">

</div>

@section scripts{
    <script type="text/javascript">

        var merchantId = $.lumos.getUrlParamValue("merchantId");
        var storeId = $.lumos.getUrlParamValue("storeId");
        var machineId = $.lumos.getUrlParamValue("machineId");

        $(document).ready(function () {

            $.lumos.getJson({
                url: "/Machine/GetLoginConfirmInfo",
                isShowLoading: true,
                urlParams: { merchantId: merchantId, storeId: storeId, machineId: machineId },
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {
                        $('#operate_result').html($("#tmpl_operate_result").tmpl(d.data));
                    }
                }
            });

            $("*[operate=login]").live("click", function () {
                $.lumos.postJson({
                    url: "/Machine/LoginByQrCode",
                    isShowLoading: true,
                    data: { token: $.lumos.getUrlParamValue("token"), merchantId: merchantId, storeId: storeId, machineId: machineId },
                    success: function (d) {
                        $('#operate_result').html($("#tmpl_operate_result").tmpl(d.data));
                    }
                });

            });
        });

    </script>
}
