@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var id = $.lumos.getUrlParamValue("id");
        var data;
        $(this).ready(function () {
            initData();
        });

        function initData() {
            getDetails();
        }

        function bind() {

            if ($.lumos.isNullOrEmpty(data.store.id)) {
                $.lumos.tips('请选择店铺');
                return;
            }

            var bindType;
            var opTip = "";
            if (data.isBindStore) {
                bindType = 2;
                opTip = "确定要将机器解绑店铺【" + data.store.name + "】，请慎重操作？";
            }
            else {
                bindType = 1;
                opTip = "确定要将机器绑定店铺【" + data.store.name + "】,请慎重操作？";
            }

            art.dialog.confirm(opTip, function () {
                $.lumos.postJson({
                    url: "/Machine/Bind",
                    isUseHandling: true,
                    data: { id: id, bindType: bindType, storeId: data.store.id },
                    success: function (d) {
                        if (d.result == $.lumos.resultType.success) {
                            $.lumos.parentDialog.refresh(2);
                            $.lumos.tips(d.message, true);
                        }
                        else {
                            $.lumos.tips(d.message);
                        }
                    }
                });
            });
            return false;
        }

        function getStoreDetails(obj) {
            data.store.id = obj.id;
            $('#lbl_Store_Name').text(obj.name);
            $('#lbl_Store_Address').text(obj.address);
        }

        function getDetails() {
            $.lumos.getJson({
                url: "/Machine/GetDetails",
                urlParams: { id: id },
                isUseHandling: true,
                success: function (d) {
                    if (d.result == $.lumos.resultType.success) {

                        data = d.data;

                        $('#lbl_DeviceId').text(data.deviceId);
                        $("#lbl_MacAddress").text(data.macAddress);
                        $("#lbl_Name").text(data.name);

                        if (!data.isBindStore) {
                            $('#btn_select_store').show();
                        }

                        $("#lbl_Store_Name").text(data.store.name);
                        $("#lbl_Store_Address").text(data.store.address);
                        ;
                    }
                }
            });
        }
        //-->
    </script>
}

<div class="gbr-row gbr-dialog">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>机器信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb" cellpadding="0" cellspacing="1" style="width:100%">
        <tr>
            <td class="f-tb-t">设备ID：</td>
            <td class="f-tb-c"> <span id="lbl_DeviceId"></span> </td>
            <td class="f-tb-t">Mac地址：</td>
            <td class="f-tb-c"><span id="lbl_MacAddress"></span></td>
        </tr>
        <tr>
            <td class="f-tb-t">名称：</td>
            <td class="f-tb-c"><span id="lbl_Name"></span></td>
            <td class="f-tb-t"></td>
            <td class="f-tb-c"></td>
        </tr>
    </table>
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>便利店信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table class="f-tb" cellpadding="0" cellspacing="1" style="width:100%">
        <tr>
            <td class="f-tb-t">
                名称：
            </td>
            <td class="f-tb-c">

                <span id="lbl_Store_Name"></span>

                <input type="button" class="btn" id="btn_select_store" value="选择" dialog-title="选择" style="display:none" />

            </td>
        </tr>
        <tr>
            <td class="f-tb-t">
                地址：
            </td>
            <td class="f-tb-c">
                <span id="lbl_Store_Address"></span>
            </td>
        </tr>
    </table>

</div>

