@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script type="text/javascript">

        var merchantMachineId = $.lumos.getUrlParamValue("merchantMachineId");
        $(this).ready(function () {

            $.lumos.getJson({
                isUseHandling: true,
                url: "/Machine/GetDetails",
                urlParams: { merchantMachineId: merchantMachineId },
                success: function (d) {
                    $('#gbr_page').html($("#tmpl_block").tmpl(d.data));
                }
            });

        });



        //-->
    </script>
}

@section styles{

    <style type="text/css">
        .list-skus {
            display: block;
        }

        .list-skus .it {
            float: left;
            text-align: center;
            padding: 10px;
            width: 120px;
            height: 150px;
        }

        .list-skus .imgbox .img {
            width: 80px;
            height: 80px;
        }

        .list-skus .name {
            height: 30px;
            line-height: 30px;
            overflow: hidden;
        }

        .list-skus .price {
            display: flex;
            height: 30px;
        }

         .list-skus .quantity{
           color:#0404f5;
         }

          .list-skus .lockQuantity{
           color:#e1a607;
         }

          .list-skus .sellQuantity{
           color:#00ca47;
         }

        .list-skus .qa {
            display: flex;
            height: 40px;
        }

        .list-skus .flex1 {
            flex: 1;
        }
    </style>
}
<script id="tmpl_block" type="text/x-jquery-tmpl">
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>基本信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table class="f-tb1-detail">
        <tr>
            <td class="t">设备ID：</td>
            <td class="c">
                <span>${deviceId}</span>
            </td>
            <td class="t">机器名称：</td>
            <td class="c">
                <span>${machineName}</span>
            </td>
        </tr>
        <tr>
            <td class="t">所属便利店：</td>
            <td class="c">
                <span>${storeName}</span>
            </td>
            <td class="t">状态：</td>
            <td class="c">
                <span></span>
            </td>
        </tr>
  
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>商品概况</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <div class="list-skus">

        {{each(j,item) skus}}
        <div class="it">
            <div class="imgbox"><img class="img" src="${item.skuImgUrl}"></div>
            <div class="name"><span class="txt">${item.skuName}</span></div>
            <div class="price">
                <div class="flex1 salePrice" title="销售价"><span class="txt">${item.salePrice}</span> </div>
                <div class="flex1 salePriceByVip" title="会员价"><span class="txt">${item.salePriceByVip}</span> </div>
            </div>
            <div class="qa">
                <div class="flex1 quantity" title="总量"><span class="txt">${item.quantity}</span> </div>
                <div class="flex1 lockQuantity" title="预定数量"><span class="txt">${item.lockQuantity}</span></div>
                <div class="flex1 sellQuantity" title="可卖数量"><span class="txt">${item.sellQuantity}</span></div>
            </div>
        </div>
        {{/each}}

    </div>
</script>

<div class="gbr-row gbr-dialog" id="gbr_page">



</div>
